.popmeals {
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    padding: ($section_pd / 4) 0 ($section_pd / 2);
    text-align: center;
    color: #4C3818;

    h3 {
        color: $main_txt_color;
    }

    .meals_slides {
        position: relative;
        padding-top: 100px;

        .meal_intro {
            padding-top: 120px;
            position: relative;
            width: 100%;

            &:hover {
                .meal_pic {

                    animation: wobble-hor-bottom 1.5s ease-in-out both;
                }
            }

            .meal_pic {
                position: absolute;
                bottom: 240px;
                left: 0;
                right: 0;
                display: flex;
                justify-content: center;

                img {
                    vertical-align: bottom;
                }

            }

            .meal_text {
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 90%;
                margin: 0 auto;
                height: fit-content;
                padding: 100px 30px;
                box-sizing: border-box;
                text-align: center;
                background: url(@/assets/images/decoration/circle02.svg) no-repeat center center;
                background-size: contain;

                p {
                    line-height: $line_height;
                    padding: 10px;
                }
            }

        }

        // vue3-carousel pagination settings
        .carousel__pagination {
            width: 90%;
            flex-wrap: wrap;
            margin: 0 auto;
            position: absolute;
            top: -90px;
            left: 0;
            right: 0;
        }

        .carousel__pagination-item button {
            width: 50px;
            height: 50px;
            margin: 10px;
            background: no-repeat center center;
            background-size: 110%;

            &:hover {
                transform: scale(1.2);
            }
        }

        .carousel__pagination-item:first-child button {
            background-image: url(@/assets/images/food/drink.png);
        }

        .carousel__pagination-item:nth-child(2) button {
            background-image: url(@/assets/images/food/takoyaki.png);
        }

        .carousel__pagination-item:nth-child(3) button {
            background-image: url(@/assets/images/food/curry.png);
        }

        .carousel__pagination-item:nth-child(4) button {
            background-image: url(@/assets/images/food/fried_chicken.png);
        }

        .carousel__pagination-item:nth-child(5) button {
            background-image: url(@/assets/images/food/ramen.png);
        }

        .carousel__pagination-item:nth-child(6) button {
            background-image: url(@/assets/images/food/hotdog.png);
        }

        .carousel__pagination-item:nth-child(7) button {
            background-image: url(@/assets/images/food/onigiri.png);
        }

        .carousel__pagination-button::after {
            height: 0;
        }

    }
}

@keyframes wobble-hor-bottom {

    0%,
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }

    15% {
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        transform: translateX(-6px) rotate(-1.2deg);
    }
}



@include sm() {
    .popmeals {
        min-width: 768px;
        // padding: ($section_pd / 2) 0;

        .meals_slides {
            // position: relative;
            padding-top: 120px;
            margin: 0 auto;

            .meal_intro {
                padding-top: 280px;
                width: 80%;


                .meal_pic {
                    bottom: 45%;
                }

                .meal_text {
                    width: 80%;
                    margin: 0 auto;
                    padding: 100px 120px;
                    background: url(@/assets/images/decoration/circle02.svg) no-repeat center center;
                    background-size: contain;
                    // @include bgSvg(decoration/circle02);

                    p {
                        line-height: $line_height;
                        font-size: 1.5rem;
                    }
                }
            }


            // vue3-carousel pagination settings
            .carousel__pagination {
                width: 100%;
                gap: 8px;
                // flex-wrap: wrap;
                // margin: 0;
                // position: absolute;
                // top: -90px;
                // left: 0;
                // right: 0;
            }

            .carousel__pagination-item button {
                width: 100px;
                height: 100px;
                margin: 0px;
                // background: no-repeat center center;
                // background-size: 110%;
            }


            .carousel__pagination-item:first-child button {
                background-image: url(@/assets/images/food/drink.png);
                position: relative;
                left: 10px;
                top: 220px;
            }

            .carousel__pagination-item:nth-child(2) button {
                background-image: url(@/assets/images/food/takoyaki.png);
                position: relative;
                right: 10px;
                top: 130px;
            }

            .carousel__pagination-item:nth-child(3) button {
                background-image: url(@/assets/images/food/curry.png);
                position: relative;
                right: 10px;
                top: 70px;
            }

            .carousel__pagination-item:nth-child(4) button {
                background-image: url(@/assets/images/food/fried_chicken.png);
                position: relative;
                left: 10px;
                top: 40px;
            }

            .carousel__pagination-item:nth-child(5) button {
                background-image: url(@/assets/images/food/ramen.png);
                position: relative;
                left: 30px;
                top: 75px;
            }

            .carousel__pagination-item:nth-child(6) button {
                background-image: url(@/assets/images/food/hotdog.png);
                position: relative;
                left: 20px;
                top: 140px;
            }

            .carousel__pagination-item:nth-child(7) button {
                background-image: url(@/assets/images/food/onigiri.png);
                position: relative;
                right: 20px;
                top: 240px;
            }
        }
    }
}

@include md() {
    .popmeals {
        min-width: 1024px;

        .meals_slides {
            // position: relative;
            // padding-top: 100px;

            .meal_intro {
                padding-top: 280px;
                width: 80%;

                .meal_pic {
                    bottom: 60%;

                    img {
                        transform: scale(1.5);
                    }
                }

                .meal_text {
                    //width: 50%;
                    padding: 100px 180px;
                    background: url(@/assets/images/decoration/circle02.svg) no-repeat center center;
                    background-size: contain;

                    p {
                        //line-height: $line_height;
                        font-size: 1.75rem;
                    }
                }
            }


            // vue3-carousel pagination settings
            .carousel__pagination {
                width: 100%;
                gap: 8px;
                // flex-wrap: wrap;
                // margin: 0;
                // position: absolute;
                // top: -90px;
                // left: 0;
                // right: 0;
            }

            .carousel__pagination-item button {
                width: 120px;
                height: 120px;
                margin: 0px;
                // background: no-repeat center center;
                // background-size: 110%;
            }

        }
    }

}

@include lg() {
    .popmeals {
        min-width: 1200px;

        .meals_slides {
            // position: relative;
            // padding-top: 100px;

            .meal_intro {
                padding-top: 320px;
                width: 80%;

                .meal_pic {
                    bottom: 55%;
                    right: 20%;

                    img {
                        transform: scale(2);
                    }
                }

                .meal_text {
                    //width: 60%;
                    padding: 160px 160px 180px;
                    background: url(@/assets/images/decoration/circle02.svg) no-repeat center center;
                    background-size: contain;
                    align-items: flex-end;

                    h4 {
                        padding-right: 60px;
                        font-size: 1.875rem;
                    }

                    p {
                        //line-height: $line_height;
                        font-size: 1.75rem;
                        margin: 0 10px;
                        text-align: left;
                    }
                }
            }


            // vue3-carousel pagination settings
            .carousel__pagination {
                width: 100%;
                gap: 20px;
            }

            .carousel__pagination-item button {
                width: 150px;
                height: 150px;
                margin: 0px;
            }

        }
    }
}



@media screen and (min-width: 1440px) {
    .popmeals {
        min-width: 1440px;

        .meals_slides {

            .meal_intro {
                padding-top: 320px;
                width: 100%;

                .meal_pic {
                    bottom: 50%;
                    right: 20%;

                    img {
                        transform: scale(2);
                    }
                }

                .meal_text {
                    //width: 60%;
                    padding: 160px 360px 180px;
                    background: url(@/assets/images/decoration/circle02.svg) no-repeat center center;
                    background-size: contain;
                    align-items: flex-end;

                    h4 {
                        padding-right: 160px;
                        font-size: 1.875rem;
                    }

                    p {
                        font-size: 1.75rem;
                        margin: 0 100px;
                        text-align: left;
                    }
                }
            }

            // vue3-carousel pagination settings
            .carousel__pagination {
                width: 100%;
                gap: 20px;
            }

            .carousel__pagination-item button {
                width: 160px;
                height: 160px;
                margin: 0px;
            }
        }
    }
}