.aboutorigin_container {
  width: 100%;
  position: relative;
  overflow: hidden;

  h3 {
    font-size: 3.75rem;
    text-align: center;
    color: $main_txt_color;
    padding: 100px 0px;
  }

  p {
    font-size: 1.5rem;
    text-align: center;
    color: $login_brown;
    padding: 10px 0px 0px;
    font-weight: 700;
  }

  .category-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 100px;
  }

  .category-buttons button {
    margin: 0 10px;
    padding: 10px 15px;
    font-size: 1.25rem;
    font-weight: 700;
    color: $main_txt_color;
    background-color: $btn_bg_color;
    border-radius: $btn_br;
    border: none;
    cursor: pointer;
  }

  .category-buttons button.comboHover:hover {
    /* Your hover style (style b) for combo button */
    color: #4C3818;
    background-color: $secondary_yellow;
  }
  
  /* Add the active style for combo button */
  .category-buttons button.active {
    /* Your active style (style a) for combo button */
    color: #4C3818;
    background-color: $secondary_yellow;
  }

  .aboutorigin_card {
    @include container;
    padding: 0px 0px 100px 0px;

    .food-card {
      width: 80%;
      margin: 0 auto 50px;
      display: flex;
      flex-direction: column;
      background-color: $main_txt_color;
      padding: 15px;
      border-radius: 5px;
      margin-bottom: 20px;
      .food-cards_meal_pic {
        padding: 10px 0px;
        img {
          @include img;
        }
      }
    }
  }
}

@include sm() {
  .aboutorigin_container {
    .category-buttons button {
      padding: 20px 40px;
    }
    .aboutorigin_card {
      padding: 0px 0px 100px 10px;
      display: flex;
      gap: 50px;
      flex-wrap: wrap;
      justify-content: center;
      .food-card {
        width: 42%;
        margin: 0;
        .food-cards_meal_pic {
          height: 300px;
        }
      }
    }
  }  
}

@include md() {
  .aboutorigin_container {
    .aboutorigin_card {
      padding-left: 30px;
      justify-content: flex-start;
      .food-card {
        width: 29%;
        }
      }
  }  
}