.variousmeal_container {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;

  h3 {
    font-size: 3.75rem;
    text-align: center;
    color: $main_txt_color;
    padding: 100px 0px;
  }

  p {
    font-size: 1.5rem;
    text-align: center;
    color: $login_brown;
    padding: 10px -10px 0px;
    font-weight: 700;
    padding-top: 15px;
    margin-top: 20px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 120%; /* 與卡片相同寬度 */
      border-top: 4px solid #123749;
    }
  }

  .category_buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 100px;
  }

  .category_buttons button {
    margin: 0 10px;
    font-size: 1.25rem;
    line-height: 1.5;
    color: $main_txt_color;
    background-color: $btn_bg_color;
    border-radius: $btn_br;
    border: none;
    cursor: pointer;
    width: 40px;
  }

  .category_buttons :hover {
    color: $main_txt_color;
    background-color: #f9bb8a;
  }

  .category_buttons button.comboHover:hover {
    background-color: #f9bb8a;
    background-color: $main_txt_color;
  }

  .category_buttons button.active {
    color: $main_txt_color;
    background-color: #f9bb8a;
  }

  .variousmeal_card_area {
    @include container;

    .food_card {
      width: 80%;
      margin: 0 auto 50px;
      display: flex;
      flex-direction: column;
      background-color: $main_txt_color;
      padding: 20px;
      border-radius: 5px;
      margin-bottom: 40px;

      .food_cards_meal_pic {
        overflow: hidden;
        cursor: pointer;

        img {
          @include img;
        }
      }
    }
  }
}

@include sm() {
  .variousmeal_container {
    .category_buttons button {
      padding: 20px 40px;
      width: 150px;
    }

    .variousmeal_card_area {
      display: flex;
      flex-wrap: wrap;

      .food_card {
        width: 42%;
        &:hover {
          > div img {
            transform: scale(1.1);
          }
        }
        .food_cards_meal_pic {
          width: 90%;
          margin: auto;
        }
      }
    }
  }
}

@include md() {
  .variousmeal_container {
    .variousmeal_card_area {
      padding-left: 30px;
      gap: 50px;

      .food_card {
        width: 29%;
        margin: 0;
      }
    }
  }
}