@import 'base/var.scss';
@import 'mixin/all.scss';
@import 'component/footer.scss';
@import 'component/main_header.scss';
@import 'component/comic/search.scss';
@import 'page/comic.scss';
@import 'component/comic/card.scss';
@import 'page/comicdetail.scss';
@import 'page/login.scss';
@import 'page/comic.scss';
@import 'page/home.scss';

*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
