@import 'base/var.scss';
@import 'mixin/all.scss';
@import 'component/footer.scss';
@import 'component/main_header.scss';
@import 'component/pageTitle.scss';
@import 'component/hb_menu.scss';
@import 'component/cart_icon.scss';
@import 'component/bread_crumb.scss';
@import 'layout/comic/search.scss';
@import 'layout/comic/card.scss';
@import 'layout/home/service.scss';
@import 'layout/home/news.scss';
@import 'layout/home/meal.scss';
@import 'layout/member/member_nav.scss';
@import 'page/comic.scss';
@import 'page/comicdetail.scss';
@import 'page/login.scss';
@import 'page/comic.scss';
@import 'page/home.scss';
@import 'page/news.scss';
@import 'page/reservation.scss';
@import 'page/member_center.scss';


*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  
}

body{
  background-color:#263238;
}

h2 {
  font-size: 5rem;
}
h3 {
  font-size: 3.75rem;
}
h4 {
  font-size: 1.875rem;
}
h5 {
  font-size: 1.5rem;
}