@import 'base/var.scss';
@import 'mixin/all.scss';
@import 'component/footer.scss';
@import 'component/main_header.scss';
@import 'component/pageTitle.scss';
@import 'component/hb_menu.scss';
@import 'component/cart_icon.scss';
@import 'component/bread_crumb.scss';
@import 'component/mb_form_style.scss';
@import 'layout/comic/search.scss';
@import 'layout/comic/card.scss';
@import 'layout/home/banner.scss';
@import 'layout/home/service.scss';
@import 'layout/home/news.scss';
@import 'layout/home/meal.scss';
@import 'layout/home/hero.scss';
@import 'layout/home/socialmedia.scss';
@import 'layout/member/member_nav.scss';
@import 'layout/member/bind_credit.scss';
@import 'layout/member/add_credit.scss';
@import 'layout/member/book_record.scss';
@import 'layout/food_intro/popmeals.scss';
@import 'page/food_intro.scss';
@import 'page/comic.scss';
@import 'page/comicdetail.scss';
@import 'page/login.scss';
@import 'page/comic.scss';
@import 'page/home.scss';
@import 'page/news.scss';
@import 'page/game.scss';
@import 'page/reservation.scss';
@import 'page/member_center.scss';
@import 'component/add_value.scss';
@import 'page/about.scss';
@import 'component/value_record.scss';
@import 'component/coupon.scss';
@import 'component/member_edit.scss';
@import 'page/newsdetail.scss';
@import 'page/map.scss';
@import 'component/seat_reservation.scss';
@import 'page/location.scss';
@import 'page/comiccart.scss';
@import 'page/reservation.scss';
@import 'page/about_origin.scss';

*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

body{
  background-color:$main_bg;
}

h2 {
  font-size: 5rem;
}
h3 {
  font-size: 3.75rem;
}
h4 {
  font-size: 1.875rem;
}
h5 {
  font-size: 1.5rem;
}