.news {
    max-width: 1036px;

    .infor {
        background-color: rgb(255, 223, 223);
        width: 100%;
        display: flex;
        flex-direction: row;
        font-size: 1.5rem;
        justify-content: space-between;
        align-items: center;
        position: relative;
        border-radius: 50px;
        margin-bottom: 2.5%;


        .category {
            color: white;
            background-color: #5AC4C4;
            font-size: 1.5rem;
            width: 8.5%;
            margin-left: 6%;
            margin-top: 2%;
            margin-bottom: 2%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .date {
            color: #78684D;
            position: absolute;
            left: 23%;

        }

        .text {
            color: #78684D;
            position: absolute;
            left: 39%;
        }
        .pic{
            margin-right: 6%;
        }

    }
}