$main_bg: #263238;
$main_txt_color: #fff;
$btn_bg_color: #FF5E1E;
$secondary_blue: #5AC4C4;
$secondary_yellow: #F6CE6E;
$login_brown: #4C3818;
$btn_br: 100px;
$section_pd: 160px;
$line_height: 1.5;
$section_pd: 160px;
$border_radius: 100px;

$small: 768px;
$medium: 1024px;
$large: 1200px;