.comic_card_wrap {
  width: 100%;
  position: relative;
  overflow: hidden;
  .circle_top {
    width: 405px;
    height: 350px;
    position: absolute;
    right: -150px;
    top: 50px;
    z-index: -1;
    div {
      @include bgSvg(decoration/circle01);
    }
  }
  .circle_bottom {
    width: 405px;
    height: 350px;
    position: absolute;
    left: -50px;
    bottom: -50px;
    z-index: -1;
    div {
      @include bgSvg(decoration/circle02);
    }
  }
  main.wrap {
    @include container;
    padding: 75px 0;
    .card {
      width: 80%;
      margin: 0 auto 50px;
      display: flex;
      flex-direction: column;
      background-color: $main_txt_color;
      border-radius: 10px;
      // cursor: pointer;
      .pic {
        padding: 30px 20px;
        border-bottom: 5px solid $main_bg;
        cursor: pointer;
      }
      img {
        @include img;
      }
      .txt {
        padding: 40px;
        text-align: center;
        color: $main_bg;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
      }
      .title {
        padding-bottom: 20px;
        line-height: $line_height;
        span {
          display: block;
          &:nth-child(1) {
            font-size: 1.8rem;
          }
          &:nth-child(2) {
            font-size: 1.2rem;
          }
        }
      }
      button {
        margin-top: auto;
        cursor: pointer;
        @include btn_res;
        padding: 10px 30px;
        background-color: transparent;
      }
    }
    .warn_txt {
      margin: 0 auto;
      font-size: 3rem;
      color: $main_txt_color;
    }
  }
}
.search_result {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 25px;
  margin-bottom: -103px;
  font-size: 1.875rem;
  color: $main_txt_color;
}

@include sm() {
  .comic_card_wrap {
    main.wrap {
      padding: 100px 0;
      display: flex;
      gap: 50px;
      flex-wrap: wrap;
      justify-content: center;
      .card {
        width: 42%;
        margin: 0;
        button {
          @include btn_res;
          &:hover {
            @include btn_hover;
          }
        }
      }
    }
  }
}

@include md() {
  .comic_card_wrap {
    main.wrap {
      padding-left: 30px;
      justify-content: flex-start;
      .card {
        width: 29%;
      }
    }
  }
}

