.member_bread_crumb {
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding: 0 10px 100px;
  a {
    color: $main_txt_color;
  }
  span {
    color: #fff;
  }
  button {
    padding: 15px 50px;
    background-color: $btn_bg_color;
    color: $main_txt_color;
    font-size: 1.5rem;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    &:hover {
      color: $btn_bg_color;
      background-color: $main_txt_color;
    }
  }
}

@include screen_one(767) {
  .member_bread_crumb {
    padding: 0 20px 50px;
    button {
      padding: 8px 35px;
    }
  }
}