.footer {
  width: 100%;
  text-align: center;
  background: $main_bg;
  padding-top: 150px;
  position: relative;
  z-index: 998;
  overflow: hidden;
  .logo {
    width: 50%;
    margin: 0 auto 50px;
    a {
      display: block;
      img {
        @include img
      }
    }
  }
  .btn_group {
    margin-bottom: 50px;
    a {
      display: block;
      width: 50%;
      margin: 0 auto 30px;
      padding: 10px 40px;
      font-size: 1.25rem;
      background: $btn_bg_color;
      color: $main_txt_color;
      border-radius: $btn_br;
      &:hover {
        @include btn_hover1;
      }
    }
  }
  .copyright {
    @include container;
    padding-bottom: 100px;
    color: $secondary_blue;
    font-size: 1rem;
    span {
      font-size: 1.5rem;
    }
    p {
      margin-top: 50px;
      font-size: 12px;
      line-height: $line_height;
    }
  }
  .circle {
    width: 200%;
    position: absolute;
    left: -52%;
    top: 80px;
    z-index: -1;
    animation: rotate 80s linear infinite;
    img {
      @include img;
    }
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}



@include sm() {
  .footer {
    .logo {
      width: 20%;
      margin-bottom: 0;
    }
    .btn_group {
      width: 70%;
      margin: 80px auto;
      display: flex;
      justify-content: space-between;
      a {
        width: 30%;
        margin: 0;
      }
    }
    .circle {
      top: 20px;
    }
  }
}

@include md() {
  .footer {
    .logo {
      width: 20%;
    }
    .btn_group {
      width: 60%;
    }
  }
}

@include lg() {
  .footer {
    .btn_group {
      width: 50%;
    }
    .copyright {
      padding-bottom: 50px;
    }
  }
}
@include screen(1920) {
  .footer {
    padding-top: 300px;
    .btn_group {
      width: 30%;
    }
  }
}