.header {
  width: 100%;
  background-color: $main_bg;
  padding: 40px 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: .5s all;
  opacity: 1 !important;
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      width: 200px;
      display: block;
      img {
        @include img;
      }
    }
    span {
      font-size: 3.5rem;
      &:nth-child(2) {
        padding-left: 20px;
        color: $btn_bg_color;
      }
      &:nth-child(3) {
        color: $secondary_blue;
      }
    }
  }
  nav {
    display: none;
  }
}

@include lg() {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 1 !important;
    .logo {
      a {
        width: 290px;
        height: 70px;
        img {
          @include img;
        }
      }
      span {
        display: none;
      }
    }
    nav {
      display: block;
      a {
        font-size: 1.5rem;
        font-weight: bold;
        position: relative;
        &:not(:last-child) {
          margin-right: 20px;
        }
        display: inline-block;
        color: $main_txt_color;
        &:hover {
          ul {
            display: block;
          }
          &::after {
            width: 100%;
          }
        }
        &::after {
          content: '';
          width: 0%;
          height: 15px;
          background-color: $secondary_yellow;
          position: absolute;
          bottom: -3px;
          left: 0;
          margin: 0 auto;
          z-index: -1;
          transition: width .5s;
        }
      }
      ul {
        position: absolute;
        display: none;
        width: 110%;
        top: 100%;
        border-left: 2px solid $main_txt_color;
        padding-left: 15px;
        li {
          font-size: 1.35rem;
          // font-weight: bold;
          margin-top: 20px;
          &:hover {
            color: $secondary_yellow;
          }
        }
      }
    }
  }
}

.disappear {
  opacity: 0 !important;
}

.show_now {
  opacity: 1 !important;
}