.container {
  width: 100%;
  background-color: $main_bg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
  .logo {
    width: 290px;
    height: 70px;
    a {
      display: block;
      @include bgPng(logo)
    }
  }
  nav {
    font-size: 1.5rem;
    a {
      font-size: 1.75rem;
      padding: 10px 16px;
      &:not(:last-child) {
        margin-right: 20px;
      }
      display: inline-block;
      color: $main_txt_color;
    }
  }
}