.reservation_container {
    background-color: $secondary_blue;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    color: $main_txt_color;
    
    .reservation_card{
        display: flex;
        flex-direction: column;
        gap: 10px;
        .reservation_number{
            display: flex;
            gap: 10px;
        }
        .reservation_list{
            display: flex;
        }
    }
    .seat_reservation_status{
        display: flex;
        .reservation_status{
            box-sizing: border-box;
            padding: 5px;
            border-radius: 5px;
            width: fit-content;
        }
        button{
            border: none;
            background-color: $secondary_blue;
            box-sizing: border-box;
            padding: 5px;
            color: #97F0F0;
            cursor: pointer;
        }
    }
}


/*斷點如果設在1024，1042左右字會全部擠在一起*/
@media screen and (max-width: 1041px) {
    .reservation_container {
        margin-top: 40px;
        margin-bottom: 40px;
        border-radius: 10px;
        font-size: 16px;
        .reservation_list{
            flex-direction: column;
            gap: 10px;
            .seat_usetime, .seat_number, .seat_cost, .seat_pay{
                font-size: 12px;
            }        
        }
        .seat_reservation_status{
            justify-content: space-between;
            margin-top: 10px;
        }
    }
}

@media screen and (min-width: 1042px){
    .reservation_container {
        margin-top: 60px;
        margin-bottom: 60px;
        display: flex;
        justify-content: space-between;
        font-size: 16px;    
        .reservation_list{
            gap: 40px;
            .seat_usetime, .seat_number, .seat_cost, .seat_pay{
                font-size: 12px;   
            }    
        } 
    }
    .seat_reservation_status{
        flex-direction: column;
        justify-content: space-between;
        .reservation_status{
            margin-left: auto;
        }
    }
}

@include lg{
    .reservation_container {
        font-size: 18px;    
        .reservation_list{
            gap: 60px;
            .seat_usetime, .seat_number, .seat_cost, .seat_pay{
                font-size: 14px;   
            }    
        }
         
    }

}