.main_side_btn {
  position: fixed;
  color: red;
  right: 0;
  bottom: 270px;
  right: 20px;
  > div {
    width: 80px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  img {
    @include img;
  }
}

.main_game_btn {
  position: fixed;
  color: red;
  right: 0;
  bottom: 180px;
  right: 20px;
  > div {
    width: 80px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  img {
    @include img;
  }
}