.no_credit {
  height: 300px;
  text-align: center;
  span {
    font-size: 1.5rem;
    display: block;
    padding: 75px 0;
  }
  a {
    font-size: 1.25rem;
    margin: 0 auto;
    background-color: #FF5E1E;
    color: #fff;
    padding: 5px 40px;
    border-radius: 100px;
    cursor: pointer;
  }
}
@include sm() {
  .credit {
    height: calc(100% - 80px);
    span {
      padding: 150px 0;
    }
    a {
      padding: 15px 40px;
    }
  }
}

.have_credit {
  padding: 40px 20px 20px;
  .credit_wrap {
    .credit_card {
      max-width: 300px;
      margin: auto;
      padding: 10px;
      position: relative;
      border-radius: 10px;
      color: #fff;
      text-align: center;
      > span {
        display: block;
        &:nth-of-type(1) {
          font-size: 1.5rem;
        }
        &:nth-of-type(2) {
          position: absolute;
          top: 50%;
          left: 20px;
          transform: translateY(-50%);
        }
      }
      > button {
        width: 30px;
        height: 30px;
        background-color: #FF0000;
        border-radius: 50%;
        border: none;
        position: absolute;
        top: -15px;
        right: -15px;
        cursor: pointer;
        svg {
          color: #fff;
        }
      }
      .credit_number {
        margin-top: 70px;
      }
      .credit_info {
        max-width: 50%;
        margin: auto;
        display: flex;
        justify-content: space-between;
      }
    }
    > label {
      display: block;
      padding: 20px 0 40px;
      font-size: 1.25rem;
      text-align: center;
      input {
        transform: scale(1.5);
      }
    }
    .red {
      background-color: $btn_bg_color;
    }
    .blue {
      background-color: #00549A
    }
  }
}

@include sm() {
  .have_credit {
    .credit_wrap {
      .credit_card {
        max-width: 350px;
        .credit_number {
          margin-top: 100px;
        }
        > button {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

@include lg() {
  .have_credit {
    display: flex;
    .credit_wrap {
      width: 50%;
      .credit_card {
        width: 100%;
      }
    }
  }
}


