.aboutorigin_container {
  width: 100%;
  position: relative;
  overflow: hidden;


  .aboutorigin_circle_one {
    width: 500px;
    width: 100%;
    height: 500px;
    position: absolute;
    left: 0px;
    top: -1000px;
    z-index: -1;
  }

  .aboutorigin_circle_two {
    width: 500px;
    width: 100%;
    height: 500px;
    position: absolute;
    right: -1500px;
    top: 1200px;
    z-index: -1;
  }

  .aboutorigin_card_area {
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 0px 20px 0px;

    .aboutorigin_rightpic {
      float: right;
      width: 100%;
      img {
        margin: 0 auto;
        max-width: 100%;
      }
    }

    .aboutorigin_leftpic {
      float: left;
      width: 100%;
      img {
        margin: 0 auto;
        max-width: 100%;
      }
    }

    .about_card_lefttext {
      float: left;
      width: 100%;
    }

    .about_card_righttext {
      float: right;
      width: 100%;
    }

    .about_orange_text {
      color: $btn_bg_color;
      font-weight: 700;
    }

    .about_green_text {
      color: $secondary_blue;
      font-weight: 700;
    }

    .about_xl_text {
      font-size: 5rem;
      color: $main_txt_color;
    }

    .about_l_text {
      font-size: 2.5rem;
      color: $main_txt_color;
      font-weight: 700;
    }

    .about_m_text {
      font-size: 2rem;
      color: $main_txt_color;
      text-align: justify;
      margin-top: 30px;
    }


/*    .about_m_text::after {
      content: "";
      width: 0%;
      height: 15px;
      background-color: #F6CE6E;
      position: absolute;
      bottom: -3px;
      left: 0;
      margin: 0 auto;
      z-index: -1;
      transition: width 0.5s;
  }
*/

    @keyframes yellowBackgroundAnimation {
      0% { background-color: rgba(255, 255, 0, 0.521); }
      50% { background-color: rgba(255, 166, 0, 0.58); }
      100% { background-color: rgba(255, 255, 0, 0.386); }
    }
    .textanimatio {
      animation: yellowBackgroundAnimation 5s infinite;
      display: inline-block; 
      width: 100%; 
      box-sizing: border-box; 
      padding: 0px; 
      margin: 0px;
      overflow: hidden;
      z-index: -1;
    }

    .about_s_text {
      font-size: 2.25rem;
      color: $main_txt_color;
      text-align: justify;
    }


    .aboutorigin_card_first {
      .clearfix::after {
        content: "";
        display: table;
        clear: both;
        margin: 0 auto;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .aboutorigin_container {
    .aboutorigin_circle_one {
      left: 0px;
      top: 100px;
    }
  
    .aboutorigin_circle_two {
      right: -1200px;
      top: 400px;
    }
  
    .aboutorigin_card_area {
      .aboutorigin_rightpic {
        float: right;
        width: 40%;
        img {
          max-width: 100%;
        }
      }
  
      .aboutorigin_leftpic {
        float: left;
        width: 40%;
      }
  
      .about_card_lefttext {
        float: left;
        width: 55%;
        margin: 30px 0px 30px 0px;
      }
  
      .about_card_righttext {
        float: right;
        width: 55%;
        margin-top: 50px;
      }
      .about_xl_text {
        margin-top: -40px;
      }

      .about_l_text {
        margin-bottom: 30px;
      }
  
  
      .about_s_text {
        font-size: 2.25rem;
        color: $main_txt_color;
        text-align: center;
      }
    }
  }  
}