.about_container {
  width: 100%;
  position: relative;
  overflow: hidden;

  .about_circle_top {
    width: 500px;
    width: 100%;
    height: 500px;
    position: absolute;
    right: -200px;
    top: 0;
    z-index: -1;
    div {
      @include bgSvg(about/circle/circle_first);
    }
  }
  .about_circle_middle {
    width: 500px;
    width: 100%;
    height: 500px;
    position: absolute;
    left: -200px;
    top: 500px;
    z-index: -1;
    div {
      @include bgSvg(about/circle/circle_second);
    }
  }
  .about_circle_under {
    width: 500px;
    width: 100%;
    height: 500px;
    position: absolute;
    right: -150px;
    top: 1600px;
    z-index: -1;
    div {
      @include bgSvg(about/circle/circle_third);
    }
  }
  .about_circle_bottom {
    width: 500px;
    width: 100%;
    height: 500px;
    position: absolute;
    left: -200px;
    top: 2000px;
    z-index: -1;
    div {
      @include bgSvg(about/circle/circle_fourth);
    }
  }
  .about_card_list {
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 0 20px;

    .about_card {
      .about_card_pic {
        img {
          max-width: 800px;
          width: 100%;
          height: 100%;
          display: block;
          border-radius: 50px 0 0 0;
        }
      }
      .about_card_text {
        background-color: rgba(255, 255, 255, 0.7);
        padding: 20px 40px;
        border-radius: 0 0 50px 0;
        font-weight: 400;
        margin-bottom: 40px;
        color: rgba(38, 50, 56, 1);
        h3 {
          font-size: 1.3rem;
          margin-bottom: 20px;
          text-align: center;
          line-height: 30px;
        }
        p {
          font-size: 1rem;
          line-height: 24px;
        }
      }
      .about_carousel_item {
        width: 60%;
        height: 100%;
        background-color: var(--vc-clr-primary);
        color: var(--vc-clr-white);
        font-size: 20px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .carousel__slide {
        padding: 10px;
      }

      .carousel__prev,
      .carousel__next {
        box-sizing: content-box;
        color: #fff;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .about_container {
    .about_circle_top {
      width: 700px;
      height: 500px;
      right: -150px;
      top: 0;
    }
    .about_circle_middle {
      width: 700px;
      height: 500px;
      position: absolute;
      right: 100px;
      top: 450px;
    }
    .about_circle_under {
      width: 700px;
      height: 500px;

      right: -150px;
      top: 1400px;
    }
    .about_circle_bottom {
      width: 700px;
      height: 500px;

      right: 200px;
      top: 1900px;
    }

    .about_card_list {
      text-align: center;
      .about_card {
        .about_card_text {
          border-radius: 0;

          h3 {
            font-size: 2rem;
          }
          p {
            font-size: 1.5rem;
          }
        }
        .about_carousel_item {
          width: 100%;
        }
      }
    }
  }
}


@media screen and (min-width:1024px) {
  
  .about_container {
    .about_circle_top {
      width: 1000px;
      height: 864px;
      right: -600px;
      top: 100px;
    }
    .about_circle_middle {
      width: 1000px;
      height: 864px;
      right: 00px;
      top: 620px;
    }
    .about_circle_under {
      width: 1000px;
      height: 864px;
      right: -500px;
      top: 1850px;
    }
    .about_circle_bottom {
      width: 1000px;
      height: 864px;
      right: 200px;
      top: 2800px;
    }

    .about_card_list {
      .about_card_four {
        margin-bottom: 233px;
        .about_card_pic {
          img {
            border-radius: 0 0 0 100px;
          }
        }
        .about_card_text {
          text-align: left;
          position: absolute;
          top: 3000px;
          left: 0;
          border-radius: 0;

          h3 {
            text-align: left;
            font-size: 2.5rem;
            line-height: 48px;
            margin-bottom: 40px;
          }
          p {
            max-width: 640px;
            text-align: left;
            font-size: 2rem;
            line-height: 48px;
           
          }
        }
      }

      .about_card_two {
        margin-bottom: 233px;
        .about_card_pic {
          img {
            border-radius: 0 0 0 100px;
          }
        }
        .about_card_text {
          text-align: left;
          position: absolute;
          top: 1300px;
          left: 0;
          border-radius: 0;

          h3 {
            text-align: left;
            font-size: 2.5rem;
            line-height: 48px;
            margin-bottom: 40px;
          }
          p {
            max-width: 640px;
            text-align: left;
            font-size: 2rem;
            line-height: 48px;
          }
        }
      }

      .about_card_one {
        margin-bottom: 233px;
        .about_card_text {
          text-align: left;
          position: absolute;
          top: 400px;
          left: 500px;
          border-radius: 0;

          h3 {
            text-align: left;
            font-size: 2.5rem;
            line-height: 48px;
            margin-bottom: 40px;
          }
          p {
            max-width: 640px;
            text-align: left;
            font-size: 2rem;
            line-height: 48px;
          }
        }
      }

      .about_card_three {
        margin-bottom: 233px;
        .about_card_text {
          text-align: left;
          position: absolute;
          top: 2500px;
          left: 500px;
          border-radius: 0;

          h3 {
            text-align: left;
            font-size: 2.5rem;
            line-height: 48px;
            margin-bottom: 40px;
          }
          p {
            max-width: 640px;
            text-align: left;
            font-size: 2rem;
            line-height: 48px;
          }
        }
      }
      .about_carousel_item {
        width: 100%;
        max-width: 200px;
      }
    }
  }
}


@media screen and (min-width: 1200px) {
  .about_container {
    display: flex;
    justify-content: center;
   
    .about_circle_top {
      width: 1000px;
      height: 864px;
      right: -150px;
      top: 0;
    }
    .about_circle_middle {
      width: 1000px;
      height: 864px;
      right: 0;
      top: 420px;
    }
    .about_circle_under {
      width: 1000px;
      height: 864px;
      right: -100px;
      top: 1800px;
    }
    .about_circle_bottom {
      width: 1000px;
      height: 864px;
      right: 300px;
      top: 2650px;
    }
    

    .about_card_list {
      .about_card_one {
        .about_card_text {
          top: 300px;
          left: 800px;
          right: 0;
        }
      }

      .about_card_two {
        display: flex;
        flex-direction: column;
        gap: 200px;
        .about_card_pic {
          margin-left: 500px;
        }
        .about_card_text {
          z-index: -1;
          max-width: 1174px;
          top: 1000px;
          h3 {
            padding: 40px 415px 40px 399px;
            margin-left: 30px;
          }
          p {
            padding: 0 0 293px 330px;
            margin-left: 100px;
          }
        }
        .about_slider_up {
          margin-top: 130px;
        }
      }

      .about_card_three {
        .about_card_text {
          top: 2500px;
          right: 0;
          margin-left: 400px;
        }
      }
      .about_card_four {
        display: flex;
        flex-direction: column;
        gap: 400px;
        .about_card_pic {
          margin-left: 500px;
        }
        .about_card_text {
          z-index: -1;
          max-width: 1174px;
          top: 3100px;
          left: 0;
          h3 {
            padding: 274px 489px 40px 424px;
          }
          p {
            margin-left: 400px;
            padding: 0 0 220px 0;
          }
        }

        .about_slider_down {
          margin-left: 60px;
         margin-top: 30px;
        }
      }
    }
  }


 


}
