.aboutorigin_container {
  width: 100%;
  position: relative;
  overflow: hidden;


  .aboutorigin_circle_one {
    width: 500px;
    width: 100%;
    height: 500px;
    position: absolute;
    left: 0px;
    top: -1000px;
    z-index: -1;
  }

  .aboutorigin_circle_two {
    width: 500px;
    width: 100%;
    height: 500px;
    position: absolute;
    right: -1500px;
    top: 1200px;
    z-index: -1;
  }

  .aboutorigin_card_area {
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 0px 20px 0px;

    .aboutorigin_card {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .aboutorigin_pic {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .pic {
        width: 260px;
        background: url(@/assets/images/about/sprite02.svg) no-repeat 0 center;
        overflow: hidden;
        animation: step_animation_01 3.5s steps(6, end) infinite;

        img {
          opacity: 0;
        }
      }

      .pic01 {
        width: 260px;
        background: url(@/assets/images/about/sprite01.svg) no-repeat 0 center;
        overflow: hidden;
        animation: step_animation_01 3.5s steps(6, end) infinite;

        img {
          opacity: 0;
        }
      }

      .pic02 {
        width: 180px;
        background: url(@/assets/images/about/sprite03.svg) no-repeat 0 center;
        overflow: hidden;
        animation: step_animation_02 3.5s steps(6, end) infinite;

        img {
          opacity: 0;
        }
      }
    }


    .about_card_text {
      width: 100%;
    }


    .about_orange_text {
      font-family: "Dela Gothic One", cursive;
      color: $btn_bg_color;
      font-weight: 100;
    }

    .about_green_text {
      font-family: "Dela Gothic One", cursive;
      color: $secondary_blue;
      font-weight: 100;
    }

    .about_xl_text {
      font-size: 5rem;
      color: $main_txt_color;
    }

    .about_l_text {
      font-size: 2.5rem;
      color: $main_txt_color;
      font-weight: 700;
    }

    .about_m_text {
      font-size: 2rem;
      color: $main_txt_color;
      text-align: justify;
      margin-top: 30px;
    }


    .about_s_text {
      font-size: 2.25rem;
      color: $main_txt_color;
      text-align: justify;
      text-decoration: underline;
      text-decoration-thickness: 15px;
      text-decoration-color: #F6CE6E;
      text-underline-offset: -5px;
    }
    
  }
}

@keyframes step_animation_01 {
  0% {
    background-position: 0;
  }

  100% {
    background-position: -1620px 0;
  }
}

@keyframes step_animation_02 {
  0% {
    background-position: 0;
  }

  100% {
    background-position: -1079.66px 0;
  }
}

@media screen and (min-width: 768px) {
  .aboutorigin_container {
    .aboutorigin_circle_one {
      left: 0px;
      top: 100px;
    }

    .aboutorigin_circle_two {
      right: -1200px;
      top: 400px;
    }

    .aboutorigin_card_area {

      .aboutorigin_card {
        display: flex;
        flex-direction: row;
        align-items: center;

        &:nth-child(2) {
          flex-direction: row-reverse;
        }
      }

      .aboutorigin_pic {
        width: 40%;

        .pic {
          transform: scale(1.2);
        }

        .pic01 {
          transform: scale(1.2);
        }

        .pic02 {
          transform: scale(1.2);
        }
      }


      .about_card_text {
        width: 55%;
        margin: 30px 0px 30px 0px;
      }

      .about_xl_text {
        margin-top: -40px;
      }

      .about_l_text {
        margin-bottom: 30px;
      }


      .about_s_text {
        font-size: 2.25rem;
        color: $main_txt_color;
        text-align: center;
      }
    }
  }
}


@media screen and (min-width: 1023px) {
  .aboutorigin_container {
    .aboutorigin_card_area {

      .aboutorigin_pic {

        .pic {
          transform: scale(1.5);
        }

        .pic01 {
          transform: scale(1.4);
        }

        .pic02 {
          transform: scale(1.4);
        }
      }


      .about_s_text {
        text-decoration: underline;
        text-decoration-thickness: 20px;
        text-decoration-color: #F6CE6E;
        text-underline-offset: -5px;
      }
    }
  }
}