.about_container {
  width: 100%;
  position: relative;
  overflow: hidden;
  .about_circle_top {
    width: 300px;
    height: 259px;
    position: absolute;
    right: -150px;
    top: 0;
    z-index: -1;
    div {
        @include bgSvg(about/circle/circle_first);
       
    }
  }
  .about_circle_middle {
    width: 300px;
    height: 259px;
    position: absolute;
    right: 200px;
    top: 420px;
    z-index: -1;
    div {
      @include bgSvg(about/circle/circle_second);
    }
  }
  .about_circle_under {
    width: 300px;
    height: 259px;
    position: absolute;
    right: -150px;
    top: 1000px;
    z-index: -1;
    div {
      @include bgSvg(about/circle/circle_third);
    }
  }
  .about_circle_bottom {
    width: 300px;
    height: 259px;
    position: absolute;
    right: 200px;
    top: 1500px;
    z-index: -1;
    div {
      @include bgSvg(about/circle/circle_fourth);
    }
  }
  .about_card_list {
    width: 100%;
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 0 20px;

    .about_card {
        
      .about_card_pic {
        img {
          width: 100%;
          height: 100%;
          display: block;
          border-radius: 50px 0 0 0;
        }
      }
      .about_card_text {
        background-color: rgba(255, 255, 255, 0.5);
        padding: 20px 40px;
        border-radius: 0 0 50px 0;
        font-weight: 400;
        margin-bottom: 40px;
        h3 {
          font-size: 1.3rem;
          margin-bottom: 20px;
          text-align: center;
          line-height: 30px;
        }
        p {
          font-size: 1rem;
          line-height: 24px;
        }
      }
      .carousel__item {
        width: 60%;
        height: 100%;
        background-color: var(--vc-clr-primary);
        color: var(--vc-clr-white);
        font-size: 20px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .carousel__slide {
        padding: 10px;
      }
      
      .carousel__prev,
      .carousel__next {
        box-sizing: content-box;
       color: #fff;
      }
    }
  }
}


@include sm(){
    .about_card_list{
        max-width: 1200px;
    }
    .about_circle_top {
        width: 300px;
        height: 259px;
        position: absolute;
        right: -150px;
        top: 0;
        z-index: -1;
        div {
            @include bgSvg(about/circle/circle_first);
           
        }
      }
      .about_circle_middle {
        width: 300px;
        height: 259px;
        position: absolute;
        right: 200px;
        top: 420px;
        z-index: -1;
        div {
          @include bgSvg(about/circle/circle_second);
        }
      }
      .about_circle_under {
        width: 300px;
        height: 259px;
        position: absolute;
        right: -150px;
        top: 1000px;
        z-index: -1;
        div {
          @include bgSvg(about/circle/circle_third);
        }
      }
      .about_circle_bottom {
        width: 300px;
        height: 259px;
        position: absolute;
        right: 200px;
        top: 1500px;
        z-index: -1;
        div {
          @include bgSvg(about/circle/circle_fourth);
        }
      }
}