.comiclist_cart {
  width: 100%;
  position: relative;
  overflow: hidden;

  .comiclist_content {
    width: 360px;
    margin: 0 auto 50px;
    background-color: $main_txt_color;
    border-radius: 0.625rem;


    .cart_l_text {
      font-size: 1.875rem;
      font-weight: 700;
    }


    .cart_m_text {
      font-size: 1.5rem;
      font-weight: 400;
      margin-bottom: 1rem;
    }


    .cart_s_text {
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 150%;
    }



    .cart_l_reserve_title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 10px 10px;
      border-bottom: 1px solid #263238;
    }

    .cart_m_reserve_title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 10px 10px;
      margin-top: 10px;

      .cart_m_text:nth-child(1) {
        margin-left: 0px;
      }

      .cart_m_text:nth-child(2) {
        margin-left: 51%;
      }

      .cart_m_text:nth-child(3) {
        margin-right: 11%;
      }
    }


    .cart_book_content {
      .cart_book {
        display: flex;
        align-items: center;
        padding-bottom: 20px;

        .cart_book_pic {
          width: 60px;
          height: 100px;
          margin-right: 20px;
          margin-left: 10px;
          flex-shrink: 0;
          cursor: pointer;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .cart_book_name {
          display: block;
          width: 40%;
        }

        .cart_book_count {
          display: flex;
          align-items: center;
          margin-right: -70px;
          margin-left: 10px;
        }

        .cart_book_cash {
          display: flex;
          align-items: center;
          margin-left: 90px;
          gap: 20px;

          .cart_book_delete {
            margin-right: -200px;
            margin-top: -10px;
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
          }
        }
      }

      >div:last-child {
        padding: 200px 0;
        text-align: center;
        color: $main_bg;
        font-size: 1.5rem;
        font-weight: 700;

        a {
          color: $btn_bg_color;
          text-decoration: underline;
          font-size: 1.875rem;
          font-weight: 700;
        }
      }
    }


    .cart_l_count_title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 10px 0px;
      border-bottom: 1px solid #263238;

      .cart_m_text:nth-child(1) {
        margin-left: 0px;
      }

      .cart_m_text:nth-child(2) {
        margin-left: 5px;
      }

      .cart_m_text:nth-child(3) {
        margin-right: -25px;
      }

      .cart_m_text:nth-child(4) {
        margin-right: 0px;
      }
    }

    .cart_m_count_title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 10px 10px;
      margin-top: 10px;

      .cart_m_text:nth-child(1) {
        margin-left: 0px;
      }

      .cart_m_text:nth-child(2) {
        margin-left: -14px;
      }

      .cart_m_text:nth-child(3) {
        margin-left: -9px;
      }

      .cart_m_text:nth-child(4) {
        margin-right: 0px;
      }
    }


    .cart_l_rule_title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 10px 0px;
    }

    .cart_m_rule_title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 10px 10px;

      .cart_s_text {
        counter-reset: item;
      }

      .cart_s_text p::before {
        counter-increment: item;
        content: "(" counter(item) ") ";
        font-weight: bold;
        margin-right: 5px;
      }
    }
  }

  .btn_content {
    width: 360px;
    margin: 0 auto 50px;
    position: relative;
    display: flex;
    justify-content: flex-end;

    .comiclist_cartbtn {
      padding: 20px 40px;
      background-color: $btn_bg_color;
      border-radius: $btn_br;
      font-size: 1.25rem;
      color: $main_txt_color;
      font-weight: 400;
      cursor: pointer;
      gap: 10px;
      border: none;

      .bookgap {
        margin: 0 3px;
      }
    }


    .comiclist_cartbtn:hover {
      color: $btn_bg_color;
      background-color: $main_txt_color;
    }
  }
}

@media screen and (min-width: 768px) {
  .comiclist_cart {
    .comiclist_content {
      width: 500px;

      .cart_m_reserve_title {
        .cart_m_text:nth-child(1) {
          margin-left: 0px;
        }

        .cart_m_text:nth-child(2) {
          margin-left: 300px;
        }

        .cart_m_text:nth-child(3) {
          margin-right: 44px;
        }
      }

      .cart_book_content {
        .cart_book {
          .cart_book_pic {
            width: 133.33px;
            height: 200px;
          }

          .cart_book_name {
            padding: 0px 20px 0px;
          }

          .cart_book_count {
            margin-right: -40px;
          }

          .cart_book_cash {
            margin-left: 60px;

            .cart_book_delete {
              margin-top: -10px;
            }
          }
        }

      }

      .cart_l_count_title {
        .cart_m_text:nth-child(2) {
          margin-left: 0px;
        }

        .cart_m_text:nth-child(3) {
          margin-right: -55px;
        }

        .cart_m_text:nth-child(4) {
          margin-right: 0px;
        }
      }

      .cart_m_count_title {

        .cart_m_text:nth-child(2) {
          margin-left: 7px;
        }

        .cart_m_text:nth-child(3) {
          margin-left: 25px;
        }
        .cart_m_text:nth-child(4) {
          margin-right: 0;
        }
      }
    }

    .btn_content {
      width: 500px;
    }
  }
}


@media screen and (min-width: 1024px) {
  .comiclist_cart {
    .comiclist_content {
      width: 900px;

      .cart_m_reserve_title {
        .cart_m_text:nth-child(1) {
          margin-left: 0px;
        }

        .cart_m_text:nth-child(2) {
          margin-left: 400px;
        }

        .cart_m_text:nth-child(3) {
          margin-right: 200px;
        }
      }

      .cart_book_content {
        .cart_book {
          .cart_book_pic {
            width: 133.33px;
            height: 200px;
          }

          .cart_book_name {
            padding: 0px 20px 0px;
          }

          .cart_book_count {
            margin-left: 20px;
            margin-right: -40px;
          }

          .cart_book_cash {
            margin-left: 120px;
            gap: 100px;

            .cart_book_delete {
              margin-top: -10px;
            }
          }
        }
      }

      .cart_l_count_title {
        .cart_m_text:nth-child(2) {
          margin-left: 5px;
        }
  
        .cart_m_text:nth-child(3) {
          margin-right: 44px;
        }
  
        .cart_m_text:nth-child(4) {
          margin-right: 65px;
        }
      }

      .cart_m_count_title {
        .cart_m_text:nth-child(2) {
          margin-left: -99px;
        }
  
        .cart_m_text:nth-child(3) {
          margin-left: -86px;
        }
  
        .cart_m_text:nth-child(4) {
          margin-right: 67px;
        }
      }
    }

    .btn_content {
      width: 900px;
    }
  }
}