.comic_detail {
	.card {
		display: flex;
		justify-content: center;
		width: 100%;
		max-width: $large;
		margin: auto;
		padding: 100px 0;
		color: $main_txt_color;
	}
}
.pic {
	padding-right: 120px;
}
.text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.text_title {
	h2 {
		font-size: 40px;
		padding-bottom: 20px;
	}
	p {
		font-size: 20px;
	}
}
.text_reserve {
	@include btn_lg;
	background-color: orange;
	width: 190px;
	height: 60px;
}
.text_introduce {
	font-size: 20px;
}
.text_introduce_title {
	padding-bottom: 20px;
}
.text_infor {
	font-size: 20px;
}
