.comic_detail {
	@include container;
	.card {
		display: flex;
		justify-content: center;
		width: 100%;
		max-width: $large;
		margin: auto;
		padding: 100px 30px;
		color: $main_txt_color;
	}
	.pic {
		padding-right: 120px;
	
		img {
			@include img;
			height: 600px;
		width: 400px;
		}
	}
	.text {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.text_title {
		h2 {
			font-size: 3.2rem;
			padding-bottom: 20px;
		}
		p {
			font-size: 1.25rem;
		}
	}
	.text_reserve {
		a{
			display: inline-block;
			@include btn_lg;
		}
	}
	.text_introduce {
		font-size: 1.25rem;
	}
	.text_introduce_title {
		padding-bottom: 1.25rem;
	}
	.text_introduce_text{
		line-height: $line_height;
	}
	.text_infor {
		font-size: 1.25rem;
		line-height: $line_height;

	}
}
