/*拼圖的設定*/
.game {
  padding: 0px 50px 150px;
  text-align: center;
  .wrap {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    .drop-zone {
      width: 600px;
      display: flex;
      flex-wrap : wrap;
      justify-content: space-evenly;
      gap: 3px;
      div {
        width: calc(200px - 3px);
        height: calc(200px - 3px);
        background-color: #fff;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
    .puzzle {
      width: 700px;
      img {
        display: inline-block;
        width: calc(200px - 3px);
        height: calc(200px - 3px);
        margin-right: 10px;
      }
    }
  }
  button {
    box-shadow: 3px 9px 2px #f6cd6eb1;
    font-size: 30px;
    margin: 100px 30px 0;
    padding: 10px 40px;
    background-color: $secondary_yellow;
    color: #fff;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    &:active {
      transform: translateY(3px);
      box-shadow: 3px 6px 3px rgb(103, 103, 45);
    }
  }
}


/*拉霸機的設定*/
.slot_machine {
  .machine {
    width: 545px;
    height: 600px;
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
    background: url('@/assets/images/game/slot_machine_03.svg') center center / cover;
  }
  .monitor {
    width: 200px;
    height: 50px;
    padding: 0 10px;
    display: flex;
    position: absolute;
    left: 182px;
    top: 170px;
  }
  .fruits {
    width: 80px;
    height: 100%;
    overflow: hidden;
    text-align: center;
    position: relative;
  }
  .fruits .pic {
    width: 60px;
    height: 50px;
    position: relative;
  }
  .spin {
    animation: scroll 3s cubic-bezier(.5,0,.5,1) forwards, blur 3s cubic-bezier(.5,0,.5,1) 1;
  }
  .fruits .pic img {
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
    display: block;
  }
  .fruits .one {
    animation-delay: 0.2s;
  }
  .fruits .two {
    animation-delay: 0.3s;
  }
  .fruits .three {
    animation-delay: 0.4s;
  }
  button {
    position: absolute;
    top: 50%;
    right: 10%;
  }
}

@keyframes scroll {
  0% {transform: translate3d(0,0,0);}
  90% {transform: translate3d(0,-1900px,0);}
  100% {transform: translate3d(0,-1860px,0);}
}
@keyframes blur {
  0% {filter: blur(0);}
  10% {filter: blur(0);}
  30% {filter: blur(6px);}
  60% {filter: blur(6px);}
  95% {filter: blur(2px);}
  100% {filter: blur(0px);}
}
