.home {
  padding: 30px 0;
  .home_game {
    position: fixed;
    bottom: 150px;
    right: 50px;
    z-index: 999;
    width: 80px;
    height: 60px;
    cursor: pointer;
    img {
      @include img;
    }
  }
}

@include sm() {
  .home {
    .home_game {
      width: 100px;
      height: 80px;
    }
  }
}
@include lg() {
  .home {
    .home_game {
      right: 100px;
      width: 120px;
      height: 100px;
    }
  }
}

@include screen_one(1199) {
  .home {
    padding: 0;
  }
}