.location_container{
    width: 70%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 40px;
    .location_collapse{
        border-radius: 10px;
    }
    .panel_content{
        display: block;
        font-size: 1.4rem;
        position: relative;
        box-sizing: border-box;
        padding: 40px 0;
        .fa-location-dot{
            color: #ED6F68;
        }
        .address{
            display: none;
        }
        span {
            &:nth-of-type(3) {
                position: absolute;
                right: 30px;
                top: 25%;
            }
        }
        .down {
            transform: rotate(180deg);
        }
    }
}
.location_address a{
    color: $main-bg;
}
.location_content, .for_price{
    display: none;
}
.price_container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
}
.price_content, .price_list{
    display: flex;
    flex-direction: column;
    gap: 30px;
    .normal_computer, .gaming_computer,.box_space, .comic_price{
        border: 1px solid $main-bg;
        box-sizing: border-box;
        padding: 10px 30px;
        .price_title{
            background-color: #fff;
            width: fit-content;
            margin-top: -20px;
        }
    }
}
.ivu-collapse>.ivu-collapse-item>.ivu-collapse-header {
    height: auto;
}

.ivu-icon-ios-arrow-forward:before {
    content: '';
}
.ivu-collapse>.ivu-collapse-item>.ivu-collapse-header>i {
    display: none;
}
@include sm{
    .location_container{
        gap: 80px;
        .panel_content{
            font-size: 1.5rem;
        }
        .panel_content{
            
            .location{
                margin-right: 20%;
            }
            .address{
                display: inline;
            }
        }
    }
    .location_address{
        display: none;
    }
    .location_content{
        display: flex;
        justify-content:space-between;
        box-sizing: border-box;
        padding-top: 20px;
        .location_serve{
            display: flex;
            flex-direction: column;
            gap: 20px;
            box-sizing: border-box;
            padding: 50px 30px;
        }
        .location_map{
            width: 70%;
        }
    }
    .for_price{
        display: block;
        margin-top: 30px;
    }
}
@include md{
    .location_container{
        width: 65%;
        font-size: 1rem;
        .location_collapse{
            padding: 10px 20px 10px 20px;
        }
        .panel_content{
            font-size: 1.25rem;
        }
    }
    .location_content{
        .location_serve{
            padding: 50px 40px;
        }
    }
    .price_content, .price_list{
        flex-direction: row;
        .normal_computer, .gaming_computer,.box_space, .comic_price{
            width: 60%;
            .comic_notice{
                font-size: 14px;
            }
        }
    } 
}
@include lg{
    .location_container{
        font-size: 1.25rem;
        .panel_content{
            width: 100%;
            font-size: 1.5rem;
        }
    }
    .location_content{
        .location_serve{
            padding: 60px 40px;
        }
    }
    .price_container{
        gap: 40px;
        padding-top: 30px;
        
    }
    .price_content, .price_list{
        flex-direction: row;
        .normal_computer, .gaming_computer,.box_space, .comic_price{
            width: 70%;
            padding: 10px 40px;
            .price_title{
                margin-top: -30px;
            }
            .comic_notice{
                font-size: 14px;
            }
        }
    }
    
}
