.store {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 160px;
    position: relative;


    .title {
        color: #4C3818;
        font-size: 3.75rem;
        margin-bottom: 12%;
        color: white;

    }

    .map {
        position: relative;


        .taiwan {
            width: 147%;
            transform: translateX(-23%);
        }

        .tp_shop {
            position: absolute;
            width: 91%;
            right: -140%;
            top: -6%;

        }

        .tp_back {
            position: absolute;
            width: 100%;
            right: -144%;
            top: -8%;
            z-index: -1;
        }

        .zl_shop {
            position: absolute;
            left: -108%;
            top: -14%;
            width: 88%;
        }

        .zl_back {
            position: absolute;
            left: -114%;
            top: -16%;
            width: 100%;
            z-index: -1;

        }

        .tn_shop {
            position: absolute;
            width: 88%;
            bottom: -12%;
            left: -130%;



        }

        .tn_back {
            position: absolute;
            width: 100%;
            bottom: -14%;
            left: -136%;
            z-index: -1;

        }


        .tp_text {
            font-size: 1.875rem;
            color: #4C3818;
            position: absolute;
            right: -124%;
            top: 29%;
            font-weight: 600;
            color: white;

        }

        .zl_text {
            font-size: 1.875rem;
            color: #4C3818;
            position: absolute;
            left: -88%;
            top: 20%;
            font-weight: 600;
            color: white;
        }

        .tn_text {
            font-size: 1.875rem;
            color: #4C3818;
            position: absolute;
            bottom: -24%;
            left: -110%;
            font-weight: 600;
            color: white;

        }

        .taipei {
            position: absolute;
            right: -13%;
            top: 0;
            width: 57%;
            transition: transform 0.5s;
        }

        .taipei:hover {
            transform: scale(1.4);
        }

        .tp_shop:hover~.taipei {
            transform: scale(1.4);
        }

        .tp_shop:hover~.tp_back {
            transform: scale(1.1) rotate(15deg);
            transition: all .5s;
        }

        .tp_text:hover~.taipei {
            transform: scale(1.4);
        }

        .tp_text:hover~.tp_back {
            transform: scale(1.1) rotate(15deg);
            transition: all .5s;
        }

        .taoyuan {
            position: absolute;
            left: 33%;
            top: 5.7%;
            width: 39%;
            transition: transform 0.5s;
        }

        .taoyuan:hover {
            transform: scale(1.4);
        }

        .zl_shop:hover~.taoyuan {
            transform: scale(1.4);
        }

        .zl_shop:hover~.zl_back {
            transform: scale(1.1) rotate(15deg);
            transition: all .5s;
        }

        .zl_text:hover~.taoyuan {
            transform: scale(1.4);
        }

        .zl_text:hover~.zl_back {
            transform: scale(1.1) rotate(15deg);
            transition: all .5s;
        }


        .tainan {
            position: absolute;
            width: 48%;
            bottom: 29%;
            left: -34%;
            transition: transform 0.5s;
        }

        .tainan:hover {
            transform: scale(1.4);
        }

        .tn_shop:hover~.tainan {
            transform: scale(1.4);
        }

        .tn_shop:hover~.tn_back {
            transform: scale(1.1) rotate(15deg);
            transition: all .5s;
        }

        .tn_text:hover~.tainan {
            transform: scale(1.4);
        }

        .tn_text:hover~.tn_back {
            transform: scale(1.1) rotate(15deg);
            transition: all .5s;
        }

    }

    .man {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .pic {
        width: 621.91px;
        background: url(@/assets/images/index/walkman.svg) no-repeat left center;
        background-size: cover;
        overflow: hidden;
        animation: walkman 2.5s steps(2, end) infinite;
        transform: scale(0.8);


        img {
            opacity: 0;
        }
    }

    @keyframes walkman {
        0% {
            background-position: 0;
        }

        100% {
            background-position: -1263.82px 0;
        }
    }

    @keyframes walking {
        0% {
            transform: translateX(200px);
        }

        100% {
            transform: translateX(100px);
        }
    }

}





@media screen and (max-width: 1024px) {

    .store {
        max-width: 1024px;
        width: 100%;
        margin-bottom: 0;


        .title {
            font-size: 3.75rem;
            margin-bottom: 12%;
            color: white;
        }

        .pic {
            transform: scale(0.6);
        }

        .map {
            position: relative;


            .taiwan {
                width: 137%;
                transform: translateX(-23%);
            }

            .tp_shop {
                position: absolute;
                width: 81%;
                right: -105%;
                top: -6%;

            }

            .tp_back {
                position: absolute;
                width: 90%;
                right: -109%;
                top: -8%;
                z-index: -1;
            }

            .zl_shop {
                position: absolute;
                left: -93%;
                top: -14%;
                width: 78%;
            }

            .zl_back {
                position: absolute;
                left: -99%;
                top: -16%;
                width: 90%;
                z-index: -1;

            }

            .tn_shop {
                position: absolute;
                width: 78%;
                bottom: -12%;
                left: -115%;



            }

            .tn_back {
                position: absolute;
                width: 90%;
                bottom: -14%;
                left: -121%;
                z-index: -1;

            }

            .tp_text {
                font-size: 1.875rem;
                color: #4C3818;
                position: absolute;
                right: -87%;
                top: 28%;
                font-weight: 600;
                color: white;

            }

            .zl_text {
                font-size: 1.875rem;
                color: #4C3818;
                position: absolute;
                left: -74%;
                top: 20%;
                font-weight: 600;
                color: white;
            }

            .tn_text {
                font-size: 1.875rem;
                color: #4C3818;
                position: absolute;
                bottom: -23%;
                left: -95%;
                font-weight: 600;
                color: white;

            }

            .taipei {
                position: absolute;
                right: -1%;
                top: 1%;
                width: 48%;
                transition: transform 0.5s;
            }

            .taipei:hover {
                transform: scale(1.4);
            }

            .tp_shop:hover~.taipei {
                transform: scale(1.4);
            }

            .tp_text:hover~.taipei {
                transform: scale(1.4);
            }

            .taoyuan {
                position: absolute;
                left: 33%;
                top: 6.5%;
                width: 32%;
                transition: transform 0.5s;
            }

            .taoyuan:hover {
                transform: scale(1.4);
            }

            .zl_shop:hover~.taoyuan {
                transform: scale(1.4);
            }

            .zl_text:hover~.taoyuan {
                transform: scale(1.4);
            }

            .tainan {
                position: absolute;
                width: 42%;
                bottom: 29%;
                left: -30%;
                transition: transform 0.5s;
            }

            .tainan:hover {
                transform: scale(1.4);
            }

            .tn_shop:hover~.tainan {
                transform: scale(1.4);
            }

            .tn_text:hover~.tainan {
                transform: scale(1.4);
            }
        }

    }
}






@media screen and (max-width: 768px) {
    .store {
        padding-bottom: 360px;
        overflow: hidden;

        .title {
            color: white;
            padding-bottom: 40px;
        }

        .pic {
            right: -50px;
        }

        .map {

            .taiwan {
                display: none;
            }

            .tp_shop {
                position: relative;
                right: 0;
                top: 0;
                left: 0;
                bottom: 0;
                width: 100%;
                margin-bottom: 50px;
            }

            .tp_back {
                position: absolute;
                width: 115%;
                right: -8%;
                top: -2%;
            }

            .zl_shop {
                position: relative;
                right: 0;
                top: 0;
                left: 0;
                bottom: 0;
                width: 100%;
                margin-bottom: 50px;

            }

            .zl_back {
                position: absolute;
                width: 115%;
                left: -8%;
                top: 32%;
            }

            .tn_shop {
                position: relative;
                right: 0;
                top: 0;
                left: 0;
                bottom: 0;
                width: 100%;
                margin-bottom: 50px;

            }

            .tn_back {
                position: absolute;
                width: 115%;
                left: -8%;
                top: 65%;
            }

            .tp_text {
                position: relative;
                right: 0;
                top: 0;
                left: 0;
                bottom: 0;
                padding-left: 60px;
                margin-bottom: 50px;
                color: white;
            }

            .zl_text {
                position: relative;
                right: 0;
                top: 0;
                left: 0;
                bottom: 0;
                padding-left: 60px;
                margin-bottom: 50px;
                color: white;

            }

            .tn_text {
                position: relative;
                right: 0;
                top: 0;
                left: 0;
                bottom: 0;
                padding-left: 60px;
                margin-bottom: 50px;
                color: white;
            }

            .taipei {
                display: none;
            }


            .taoyuan {
                display: none;
            }

            .tainan {
                display: none;
            }

        }

    }

}

@media screen and (max-width: 414px) {
    .store {

        .pic {
            right: -140px;
        }
    }
}
