@media only screen and (max-width:1024px) {
  .news_message_content,.news_pic {
    opacity: 1 !important;
    transform: translate(0) scale(1) !important;
  }
}


.news_page {
  width: 100%;
  box-sizing: border-box;
  @include container;
  margin: auto;
  .news_page a {
    text-decoration: none;
  }
  .news_tabs {
    display: flex;
    justify-content: center;
    .news_tab {
      box-sizing: border-box;
      border-radius: $btn_br;
      border: none;
      cursor: pointer;
      background-color: #f9bb8a;
      color: $main_txt_color;
    }
    .news_tab.active {
      background-color: $btn_bg_color;
    }
  }
}
.news_tab_content {
  display: flex;
  justify-content: center;
  .message {
    margin: auto;
    box-sizing: border-box;
    justify-content: space-around;
    width: 90%;
    .news_pic img {
      border-radius: 5px;
      @include img;
    }
    .news_category {
      color: $main_txt_color;
      box-sizing: border-box;
      padding: 5px;
      width: fit-content;
    }
    .news_title {
      background-color: #fff;
      box-sizing: border-box;
      color: $main_bg;
    }
    .news_date {
      color: $main_txt_color;
    }
    .news_more ,.news_more_forphone{
      font-weight: bold;
      text-align: right;
    }
  }
}
.horizontal_rule {
  margin-top: 3%;
  margin-bottom: 3%;
  img {
    max-width: 1200px;
    width: 100%;
    margin: auto;
  }
}
.news_photo_wall {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto 5% auto;
  height: 100%;
  padding: 0 3%;
  position: relative;
  z-index: 0;
  .news_photo_title {
    margin-bottom: 5%;
    font-size: 3.75rem;
    color: #fff;
    font-weight: 400;
    text-align: center;
  }
  .news_photo_frame {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .news_photos {
      position: relative;
      background: white;
      border-radius: 6px;
      overflow: hidden;
      display: block;
      text-decoration: none;
      color: #333;
      padding: 10px 10px 20px 10px;
      width: 100%;
      height: 100%;
      max-width: 300px;
      border: 1px solid #bfbfbf;
      background-color: white;
      z-index: 0;
      font-size: 0.7em;
      -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      -webkit-transition: -webkit-transform 0.5s ease-in;
      .thumb_tack {
        position: absolute;
        top: 0;
        left: 0;
        img {
          max-width: 100px;
          width: 100%;
        }
      }
      img {
        max-width: 300px;
        width: 100%;
        max-height: 300px;
        height: 100%;
      }
      .news_text {
        margin-top: 25px;
        display: block;
        color: black;
        font-size: 1.2rem;
      }
    }
    .news_photos:nth-child(1) {
      -webkit-transform: rotate(10deg);
      -moz-transform: rotate(10deg);
      transform: rotate(10deg);
    }
    .news_photos:nth-child(2) {
      -webkit-transform: rotate(-8deg);
      -moz-transform: rotate(-8deg);
      transform: rotate(-8deg);
    }
    .news_photos:nth-child(3) {
      -webkit-transform: rotate(5deg);
      -moz-transform: rotate(5deg);
      transform: rotate(5deg);
    }
    .news_photos:nth-child(4) {
      -webkit-transform: rotate(-10deg);
      -moz-transform: rotate(-10deg);
      transform: rotate(-15deg);
    }
    .news_photos:nth-child(5) {
      -webkit-transform: rotate(5deg);
      -moz-transform: rotate(5deg);
      transform: rotate(5deg);
    }
    .news_photos:nth-child(6) {
      -webkit-transform: rotate(-10deg);
      -moz-transform: rotate(-10deg);
      transform: rotate(-10deg);
    }
    .news_photos:hover {
      z-index: 999;
      -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
}
/*手機版*/
@include screen_one(767) {
  .news_tabs {
    gap: 20px;
    .news_tab {
      font-size: 0.875rem;
      padding: 10px 20px;
    }
  }
  .news_tab_content {
    margin-top: 40px;
    .message {
      margin-bottom:100px;
      .news_category {
        margin-top: 10px;
        font-size: 0.875rem;
      }
      .news_title {
        padding: 10px 20px;
        font-size: 0.875rem;
        border-radius: 5px;
      }
      .news_date {
        margin: 10px 0 10px;
        font-size: 0.875rem;
      }
      .news_more {
        display: none;
      }
      .news_more_forphone{
        font-size: 0.875rem;
        margin-top: 10px;
        color: #fff;
      }
    }

  }
  .news_photo_wall {
    margin: 0 1%;
    .news_photo_title {
      font-size: 2rem;
    }
    .news_photo_frame {
      .news_photos {
        padding: 1%;
        margin: 1%;
        max-width: 150px;
        height: 240px;
        img {
          max-width: 150px;
          width: 100%;
          max-height: 150px;
          height: 100%;
        }
        .news_text {
          margin-top: 10px;
        }
      }
      .news_photos:nth-child(1),
      .news_photos:nth-child(2),
      .news_photos:nth-child(3),
      .news_photos:nth-child(4),
      .news_photos:nth-child(5),
      .news_photos:nth-child(6) {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
      }
    }
  }
}

/*電腦版*/
@include sm {
  .news_tabs {
    gap: 60px;
    .news_tab {
      font-size: 2rem;
      padding: 16px 40px;
    }
    .news_tab:hover{
      background-color: $btn_bg_color;
      color: $main_txt_color;
    }
  }
  .news_tab_content {
    margin-bottom: 160px;
    .message {
      margin-top: 160px;
      display: flex;
      gap: 30px;
      .news_pic{
        transition: transform 0.5s ease-in;
        transform-origin: center;
        overflow: hidden;
      }
      .news_pic img:hover {
        transform: scale(1.05);
      }
      .news_message_content {
        width: 50%;
        z-index: 1;
      }
      .news_category {
        font-size: 1.5rem;
      }
      .news_title {
        width: 120%;
        padding: 20px 40px;
        font-size: 1.875rem;
        border-radius: 10px;
      }
      .news_date {
        margin: 10px 0 40px;
        font-size: 1.5rem;
      }
      .news_more {
        font-size: 1.125rem;
        margin-top: 20px;
        opacity: 0.5;
        transition: opacity 0.3s ease;
      }
      .news_more:hover{
        opacity: 0.9;
      }
      .news_more p {
        position: relative;
        color: #fff;
      }
      .news_more p::before {
        content: "";
        position: absolute;
        width: 30%;
        height: 1px;
        background-color: #fff;
        left: 50%;
        bottom: 10px;
      }
      .left_text {
        text-align: left;
        color: red;
        p::before {
          left: 20%;
        }
      }
      .news_more_forphone{
        display: none;
      }
    }
  }
  /*圖片位置交換*/
  .message:nth-child(odd) {
    flex-direction: row;
    .news_title {
      margin-left: -20%;
    }
  }
  .message:nth-child(even) {
    flex-direction: row-reverse;
  }
}
