body {
  background-color: #263238;
}
img {
  display: block;
}

.reservation_wrap {
  width: 100%;
  position: relative;
  overflow: hidden;

  .about_circle_top {
    width: 500px;
    width: 100%;
    height: 500px;
    position: absolute;
    left: -200px;
    top: 0;
    z-index: -1;
    div {
      @include bgSvg(reservation/circle1);
    }
  }
  .about_circle_middle {
    width: 500px;
    width: 100%;
    height: 500px;
    position: absolute;
    right: -200px;
    top: 1800px;
    z-index: -1;
    div {
      @include bgSvg(reservation/circle2);
    }
  }

  .about_circle_bottom {
    width: 500px;
    width: 100%;
    height: 500px;
    position: absolute;
    left: -200px;
    top: 2500px;
    z-index: -1;
    div {
      @include bgSvg(reservation/circle3);
    }
  }
  .reservation_read {
    margin-bottom: 120px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .reservation_text {
      font-size: 2.5rem;
      color: #fff;
      text-align: center;
      margin-bottom: 40px;
      font-weight: 400;
      span {
        font-size: 5rem;
      }
    }
    .reservation_read_rules {
      background-color: #fff;
      padding: 40px;
      border-radius: 10px;
      li {
        display: flex;
        align-items: flex-start;
        font-size: 1.5rem;
        list-style: none;
        margin-bottom: 22px;

        .reservation_rules_img {
          margin-right: 22px;
        }
      }
    }
    .reservation_submit {
      background-color: $btn_bg_color;
      padding: 16px 40px;
      border-radius: 100px;
      cursor: pointer;
      font-size: 1.5rem;
      color: #fff;
      border: none;
      margin-top: 100px;
    }
  }

  .reservation_date {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;

    .reservation_text {
      font-size: 2.5rem;
      color: #fff;
      text-align: center;
      margin-bottom: 40px;
      font-weight: 400;
      span {
        font-size: 5rem;
      }
    }
  }

  .reservation_seat {
    margin-bottom: 100px;
    .reservation_text {
      font-size: 2.5rem;
      color: #fff;
      text-align: center;
      margin-bottom: 40px;
      font-weight: 400;
      span {
        font-size: 5rem;
      }
    }
    .reservation_all_seat {
      background-color: #fff;
      width: 90%;
      height: 100%;
      justify-content: space-between;
      margin: auto;
      border-radius: 10px;
      .tabs {
        /*tab切換*/
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .tabs_list {
          display: flex;
          flex-direction: row;
          .seat_tabs_item {
            width: 50%;
            height: 5%;
            text-align: center;
            padding: 10px;
            cursor: pointer;
            transition: 100ms linear all;
            font-size: 25px;
            opacity: 0.5;
            background-color: #bcccd1;
            border-radius: 10px 10px 0 0;
          }
          .seat_tabs_item.active {
            opacity: 1;
            background-color: #fff;
            border-radius: 10px 10px 0 0;
          }
        }
      }
      /*大廳區*/
      .reservation_hall_seat {
        padding: 0 10px 0 10px;
        margin: auto;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        /*電競區*/
        .reservation_eSports_seat {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          height: 100%;
          justify-content: center;
          padding: 1%;
          .eSports_seat {
            background-color: #54c1ba;
          }
          .seat_btn {
            box-sizing: border-box;
            margin: 10px 3px;
            width: 15%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #263238;
            border-radius: 2px;
            border: none;
            .content {
              padding: 8px 5px;
              text-align: center;
              justify-content: center;
              h4 {
                display: none;
              }
              /* NOTE RWD手機板時只有顯示椅子圖，780px以上時跳轉成座位編號*/
              .chair {
                width: 50%;
                height: 50%;
                min-width: 10px;
                min-height: 10px;
                margin: auto;
              }
            }
          }
          /* 0=空位樣式 */
          .state-0 {
            background-color: #54c1ba; /* 深綠色背景代表空位 */
            cursor: pointer;
          }
          /*TODO 座位需要可以複選*/
          // .state-0:focus,
          // .state-0:hover {
          //   outline: 0.3rem solid #263238;
          // }
          .selected {
            outline: 0.3rem solid #263238;
          }

          /* 1=使用中樣式 */
          .state-1 {
            background-color: #daebea; /* 淡綠色背景代表使用中 */
            color: #a6a6a6;
            cursor: not-allowed; /* 鼠標顯示為禁止標誌 */
          }
          /* 2=預約中樣式 */
          .state-2 {
            background-color: #f9eed4; /* 淡黃色背景代表預約中 */
            color: #a6a6a6;
            cursor: not-allowed; /* 鼠標顯示為禁止標誌 */
          }
        }
        /*一般區*/
        .reservation_general_seat {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          height: 100%;
          justify-content: center;
          padding: 1%;
          .general_seat {
            background-color: #63bcde;
          }
          .seat_btn {
            box-sizing: border-box;
            margin: 10px 3px;
            width: 15%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #263238;
            border-radius: 2px;
            border: none;
            .content {
              padding: 8px 5px;
              text-align: center;
              justify-content: center;
              h4 {
                font-size: 15px;
                line-height: 15px;
                display: none;
              }
              .chair {
                width: 50%;
                height: 50%;
                min-width: 10px;
                min-height: 10px;
                margin: auto;
              }
            }
          }
          /* 櫃台*/
          .counter {
            height: 80%;
            width: 100%;
            border-radius: 5px;
            background-color: #bcccd1;
            font-size: 1rem;
            margin: 20px 0 0 0;
            p {
              line-height: 200%;
              text-align: center;
              justify-content: center;
            }
          }
          /* 0=空位樣式 */
          .state-0 {
            background-color: #63bcde; /* 灰色背景代表空位 */
            cursor: pointer; /* 鼠標顯示為禁止標誌 */
          }
          /*TODO 座位需要可以複選*/
          // .state-0:focus,
          // .state-0:hover {
          //   outline: 0.3rem solid #263238;
          // }
          /* 1=使用中樣式 */
          .state-1 {
            background-color: #ceebf7; /* 淡綠色背景代表使用中 */
            color: #a6a6a6;
            cursor: not-allowed; /* 鼠標顯示為禁止標誌 */
          }
          /* 2=預約中樣式 */
          .state-2 {
            background-color: #f9eed4; /* 淡黃色背景代表預約中 */
            color: #a6a6a6;
            cursor: not-allowed; /* 鼠標顯示為禁止標誌 */
          }
        }
      }
      /*包廂區*/
      .reservation_booth_seat {
        padding: 5% 5% 0 5%;
        margin: auto;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        /*單人房*/
        .reservation_single_seat {
          display: flex;
          flex-wrap: wrap;
          margin: 3% 0 3% 3%;
          width: 100%;
          height: 100%;
          justify-content: center;
          padding: 1%;
          border-top: 1rem solid #7a7d7a;
          border-left: 1rem solid #7a7d7a;
          border-right: 1rem solid #7a7d7a;
          .single_seat {
            background-color: #54c1ba;
          }
          .seat_btn {
            box-sizing: border-box;
            margin: 10px 3px;
            width: 30%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #263238;
            border-radius: 2px;
            border: none;
            .content {
              padding: 8px 5px;
              text-align: center;
              justify-content: center;
              h4 {
                display: none;
                font-size: 15px;
                line-height: 15px;
              }
              .chair {
                width: 50%;
                height: 50%;
                min-width: 15px;
                min-height: 15px;
                margin: auto;
              }
            }
          }
          .seat_btn:nth-child(odd) {
            margin: 1% 20% 5% 0;
          }
          .seat_btn:nth-child(even) {
            margin: 1% 0 5% 20%;
          }
          /* 0=空位樣式 */
          .state-0 {
            background-color: #54c1ba; /* 深綠色背景代表空位 */
            cursor: pointer;
          }
          // .state-0:focus,
          // .state-0:hover {
          //   outline: 0.3rem solid #263238;
          // }

          /* 1=使用中樣式 */
          .state-1 {
            background-color: #daebea; /* 淡綠色背景代表使用中 */
            color: #a6a6a6;
            cursor: not-allowed; /* 鼠標顯示為禁止標誌 */
          }
          /* 2=預約中樣式 */
          .state-2 {
            background-color: #f9eed4; /* 淡黃色背景代表預約中 */
            color: #a6a6a6;
            cursor: not-allowed; /* 鼠標顯示為禁止標誌 */
          }
        }
        /*雙人房*/
        .reservation_double_seat {
          display: flex;
          flex-wrap: wrap;
          margin: 3% 3% 3% 0;
          width: 100%;
          height: 100%;
          justify-content: center;
          padding: 1%;
          border-top: 1rem solid #7a7d7a;
          border-left: 1rem solid #7a7d7a;
          border-right: 1rem solid #7a7d7a;
          .double_seat {
            background-color: #63bcde;
          }
          .seat_btn {
            box-sizing: border-box;
            margin: 10px 3px;
            width: 30%;
            height: 100%;
            padding: 1%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            color: #263238;
            border-radius: 2px;
            border: none;
            .content {
              padding: 8px 5px;
              text-align: center;
              justify-content: center;
              h4 {
                display: none;
                font-size: 15px;
                line-height: 15px;
              }
              .chair {
                width: 50%;
                height: 50%;
                min-width: 15px;
                min-height: 15px;
                margin: 10% auto 0 auto;
              }
            }
          }
          .seat_btn:nth-child(odd) {
            margin: 1% 20% 5% 0;
          }
          .seat_btn:nth-child(even) {
            margin: 1% 0 5% 20%;
          }
          /* 0=空位樣式 */
          .state-0 {
            background-color: #63bcde; /* 灰色背景代表空位 */
            cursor: pointer; /* 鼠標顯示為禁止標誌 */
          }
          /*TODO 座位需要可以複選*/
          // .state-0:focus,
          // .state-0:hover {
          //   outline: 0.3rem solid #263238;
          // }
          /* 1=使用中樣式 */
          .state-1 {
            background-color: #ceebf7; /* 淡綠色背景代表使用中 */
            color: #a6a6a6;
            cursor: not-allowed; /* 鼠標顯示為禁止標誌 */
          }
          /* 2=預約中樣式 */
          .state-2 {
            background-color: #f9eed4; /* 淡黃色背景代表預約中 */
            color: #a6a6a6;
            cursor: not-allowed; /* 鼠標顯示為禁止標誌 */
          }
        }
      }
      .seat_color_comment {
        display: flex;
        padding: 0 20px 0 20px;
        align-items: center;
        flex-wrap: wrap;
        .color_seSports_single_seat_group,
        .color_general_double_seat_group,
        .color_state_seat_group,
        .color_vacancy_seat_group,
        .color_use_seat_group,
        .color_reserve_seat_group {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          margin: 3% 0;
        }
        .color_seSports_single_seat,
        .color_general_double_seat,
        .color_G_vacancy_seat,
        .color_B_vacancy_seat,
        .color_G_use_seat,
        .color_B_use_seat,
        .color_reserve_seat {
          width: 10px;
          height: 10px;
          border-radius: 100%;
          margin: 0 3px;
        }
        .p_seSports_seat,
        .p_general_seat {
          line-height: 130%;
        }
        p {
          text-align: center;
          line-height: 100%;
          margin: 0 10px 0 0;
          font-size: 14px;
        }
        .color_seSports_single_seat,
        .color_G_vacancy_seat {
          background-color: #54c1ba;
        }
        .color_general_double_seat,
        .color_B_vacancy_seat {
          background-color: #63bcde;
        }
        .color_G_vacancy_seat,
        .color_B_vacancy_seat {
          margin: 0;
        }
        .color_B_use_seat {
          background-color: #daebea;
          margin: 0;
        }
        .color_G_use_seat {
          background-color: #ceebf7;
          margin: 0;
        }
        .color_reserve_seat {
          background-color: #f9eed4;
        }
        .color_general_double_seat_group {
          margin: 0 30px 0 0;
        }
      }
    }
  }

  .reservation_confirm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    .reservation_text {
      font-size: 2.5rem;
      color: #fff;
      text-align: center;
      margin-bottom: 40px;
      font-weight: 400;
      span {
        font-size: 5rem;
      }
    }
    .reservation_confirm_data {
      padding: 50px;
      background-color: #fff;
      gap: 122px;
      border-radius: 10px;
      margin-bottom: 100px;
      .confirm_data_time {
        display: flex;
        flex-direction: column;
        gap: 21px;
        .data_time_start,
        .data_time_end,
        .data_time_sum,
        .data_time_stored {
          display: flex;
          flex-direction: column;
          gap: 10px;
          .stored_error {
            font-size: 1rem;
            margin-bottom: 2px;
            color: red;
            align-self: center;
            a {
              color: red;
              border-bottom: 1px solid red;
            }
          }
        }

        input {
          text-align: right;
          color: #7a7d7a;
          font-size: 1.2rem;
          padding: 10px;
          border-radius: 10px;
          outline: 1px solid transparent;
        }
        p {
          font-size: 1.3rem;
        }
      }
      .confirm_data_seat {
        p {
          font-size: 1.3rem;
          margin-bottom: 10px;
        }
        .data_seat {
          width: 280px;
          min-height: 163px;
          border: 2px solid #111;

          .data_seat_info {
            display: flex;
            flex-direction: column;
            font-size: 1.3rem;
          }
        }
      }
    }
    .reservation_submit {
      background-color: $btn_bg_color;
      padding: 16px 40px;
      border-radius: 100px;
      cursor: pointer;
      font-size: 1.5rem;
      color: #fff;
      border: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .reservation {
    
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &_read {
      max-width: 1200px;
      margin-bottom: 120px;
      padding: 20px;
      h2 {
        font-size: 3.2rem;
        color: #fff;
        text-align: center;
        margin-bottom: 40px;
        font-weight: 400;
      }
      &_rules {
        max-width: 1200px;
        background-color: #fff;
        padding: 40px;
        border-radius: 10px;
        li {
          display: flex;
          align-items: flex-start;
          font-size: 1.5rem;
          list-style: none;
          margin-bottom: 22px;

          .reservation_rules_img {
            margin-right: 22px;
            margin-top: 5px;
          }
        }
      }
    }

    &_date {
      width: 100%;
      max-width: 1200px;
      display: flex;
      flex-direction: column;
      margin-bottom: 120px;

      h2 {
        font-size: 3.2rem;
        color: #fff;
        text-align: center;
        margin-bottom: 40px;
        font-weight: 400;
      }
    }

    &_seat {
      margin-bottom: 120px;
      span {
        font-size: 5rem;
      }
      h2 {
        font-size: 2.5rem;
        color: #fff;
        text-align: center;
        margin-bottom: 40px;
        font-weight: 400;
      }
      .reservation_all_seat {
        background-color: #fff;
        width: 90%;
        height: 100%;
        justify-content: space-between;
        margin: auto;
        border-radius: 10px;
        .tabs {
          /*tab切換*/
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          .tabs_list {
            display: flex;
            flex-direction: row;
            .seat_tabs_item {
              width: 50%;
              height: 5%;
              text-align: center;
              padding: 10px;
              cursor: pointer;
              transition: 100ms linear all;
              font-size: 25px;
              opacity: 0.5;
              background-color: #bcccd1;
              border-radius: 10px 10px 0 0;
            }
            .seat_tabs_item.active {
              opacity: 1;
              background-color: #fff;
              border-radius: 10px 10px 0 0;
            }
          }
        }
        /*大廳區*/
        .reservation_hall_seat {
          padding: 0 10px 0 10px;
          margin: auto;
          border-radius: 10px;
          display: flex;
          justify-content: space-between;
          /*電競區*/
          .reservation_eSports_seat {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
            justify-content: center;
            padding: 1%;
            .eSports_seat {
              background-color: #54c1ba;
            }
            .seat_btn {
              box-sizing: border-box;
              margin: 10px 3px;
              width: 15%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #263238;
              border-radius: 2px;
              border: none;
              .content {
                padding: 8px 5px;
                text-align: center;
                justify-content: center;
                h4 {
                  display: none;
                }
                /* NOTE RWD手機板時只有顯示椅子圖，780px以上時跳轉成座位編號*/
                .chair {
                  width: 50%;
                  height: 50%;
                  min-width: 10px;
                  min-height: 10px;
                  margin: auto;
                }
              }
            }
            /* 0=空位樣式 */
            .state-0 {
              background-color: #54c1ba; /* 深綠色背景代表空位 */
              cursor: pointer;
            }
            /*TODO 座位需要可以複選*/
            // .state-0:focus,
            // .state-0:hover {
            //   outline: 0.3rem solid #263238;
            // }
            /* 1=使用中樣式 */
            .state-1 {
              background-color: #daebea; /* 淡綠色背景代表使用中 */
              color: #a6a6a6;
              cursor: not-allowed; /* 鼠標顯示為禁止標誌 */
            }
            /* 2=預約中樣式 */
            .state-2 {
              background-color: #f9eed4; /* 淡黃色背景代表預約中 */
              color: #a6a6a6;
              cursor: not-allowed; /* 鼠標顯示為禁止標誌 */
            }
          }
          /*一般區*/
          .reservation_general_seat {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
            justify-content: center;
            padding: 1%;
            .general_seat {
              background-color: #63bcde;
            }
            .seat_btn {
              box-sizing: border-box;
              margin: 10px 3px;
              width: 15%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #263238;
              border-radius: 2px;
              border: none;
              .content {
                padding: 8px 5px;
                text-align: center;
                justify-content: center;
                h4 {
                  font-size: 15px;
                  line-height: 15px;
                  display: none;
                }
                .chair {
                  width: 50%;
                  height: 50%;
                  min-width: 10px;
                  min-height: 10px;
                  margin: auto;
                }
              }
            }
            /* 櫃台*/
            .counter {
              height: 80%;
              width: 100%;
              border-radius: 5px;
              background-color: #bcccd1;
              font-size: 1rem;
              margin: 20px 0 0 0;
              p {
                line-height: 200%;
                text-align: center;
                justify-content: center;
              }
            }
            /* 0=空位樣式 */
            .state-0 {
              background-color: #63bcde; /* 灰色背景代表空位 */
              cursor: pointer; /* 鼠標顯示為禁止標誌 */
            }
            /*TODO 座位需要可以複選*/
            // .state-0:focus,
            // .state-0:hover {
            //   outline: 0.3rem solid #263238;
            // }
            /* 1=使用中樣式 */
            .state-1 {
              background-color: #ceebf7; /* 淡綠色背景代表使用中 */
              color: #a6a6a6;
              cursor: not-allowed; /* 鼠標顯示為禁止標誌 */
            }
            /* 2=預約中樣式 */
            .state-2 {
              background-color: #f9eed4; /* 淡黃色背景代表預約中 */
              color: #a6a6a6;
              cursor: not-allowed; /* 鼠標顯示為禁止標誌 */
            }
          }
        }
        /*包廂區*/
        .reservation_booth_seat {
          padding: 5% 5% 0 5%;
          margin: auto;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          /*單人房*/
          .reservation_single_seat {
            display: flex;
            flex-wrap: wrap;
            margin: 3% 0 3% 3%;
            width: 100%;
            height: 100%;
            justify-content: center;
            padding: 1%;
            border-top: 1rem solid #7a7d7a;
            border-left: 1rem solid #7a7d7a;
            border-right: 1rem solid #7a7d7a;
            .single_seat {
              background-color: #54c1ba;
            }
            .seat_btn {
              box-sizing: border-box;
              margin: 10px 3px;
              width: 30%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #263238;
              border-radius: 2px;
              border: none;
              .content {
                padding: 8px 5px;
                text-align: center;
                justify-content: center;
                h4 {
                  display: none;
                  font-size: 15px;
                  line-height: 15px;
                }
                .chair {
                  width: 50%;
                  height: 50%;
                  min-width: 15px;
                  min-height: 15px;
                  margin: auto;
                }
              }
            }
            .seat_btn:nth-child(odd) {
              margin: 1% 20% 5% 0;
            }
            .seat_btn:nth-child(even) {
              margin: 1% 0 5% 20%;
            }
            /* 0=空位樣式 */
            .state-0 {
              background-color: #54c1ba; /* 深綠色背景代表空位 */
              cursor: pointer;
            }
            // .state-0:focus,
            // .state-0:hover {
            //   outline: 0.3rem solid #263238;
            // }

            /* 1=使用中樣式 */
            .state-1 {
              background-color: #daebea; /* 淡綠色背景代表使用中 */
              color: #a6a6a6;
              cursor: not-allowed; /* 鼠標顯示為禁止標誌 */
            }
            /* 2=預約中樣式 */
            .state-2 {
              background-color: #f9eed4; /* 淡黃色背景代表預約中 */
              color: #a6a6a6;
              cursor: not-allowed; /* 鼠標顯示為禁止標誌 */
            }
          }
          /*雙人房*/
          .reservation_double_seat {
            display: flex;
            flex-wrap: wrap;
            margin: 3% 3% 3% 0;
            width: 100%;
            height: 100%;
            justify-content: center;
            padding: 1%;
            border-top: 1rem solid #7a7d7a;
            border-left: 1rem solid #7a7d7a;
            border-right: 1rem solid #7a7d7a;
            .double_seat {
              background-color: #63bcde;
            }
            .seat_btn {
              box-sizing: border-box;
              margin: 10px 3px;
              width: 30%;
              height: 100%;
              padding: 1%;
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              justify-content: center;
              color: #263238;
              border-radius: 2px;
              border: none;
              .content {
                padding: 8px 5px;
                text-align: center;
                justify-content: center;
                h4 {
                  display: none;
                  font-size: 15px;
                  line-height: 15px;
                }
                .chair {
                  width: 50%;
                  height: 50%;
                  min-width: 15px;
                  min-height: 15px;
                  margin: 10% auto 0 auto;
                }
              }
            }
            .seat_btn:nth-child(odd) {
              margin: 1% 20% 5% 0;
            }
            .seat_btn:nth-child(even) {
              margin: 1% 0 5% 20%;
            }
            /* 0=空位樣式 */
            .state-0 {
              background-color: #63bcde; /* 灰色背景代表空位 */
              cursor: pointer; /* 鼠標顯示為禁止標誌 */
            }
            /*TODO 座位需要可以複選*/
            // .state-0:focus,
            // .state-0:hover {
            //   outline: 0.3rem solid #263238;
            // }
            /* 1=使用中樣式 */
            .state-1 {
              background-color: #ceebf7; /* 淡綠色背景代表使用中 */
              color: #a6a6a6;
              cursor: not-allowed; /* 鼠標顯示為禁止標誌 */
            }
            /* 2=預約中樣式 */
            .state-2 {
              background-color: #f9eed4; /* 淡黃色背景代表預約中 */
              color: #a6a6a6;
              cursor: not-allowed; /* 鼠標顯示為禁止標誌 */
            }
          }
        }
        .seat_color_comment {
          display: flex;
          padding: 0 20px 0 20px;
          align-items: center;
          flex-wrap: wrap;
          .color_seSports_single_seat_group,
          .color_general_double_seat_group,
          .color_state_seat_group,
          .color_vacancy_seat_group,
          .color_use_seat_group,
          .color_reserve_seat_group {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin: 3% 0;
          }
          .color_seSports_single_seat,
          .color_general_double_seat,
          .color_G_vacancy_seat,
          .color_B_vacancy_seat,
          .color_G_use_seat,
          .color_B_use_seat,
          .color_reserve_seat {
            width: 10px;
            height: 10px;
            border-radius: 100%;
            margin: 0 3px;
          }
          .p_seSports_seat,
          .p_general_seat {
            line-height: 130%;
          }
          p {
            text-align: center;
            line-height: 100%;
            margin: 0 10px 0 0;
            font-size: 14px;
          }
          .color_seSports_single_seat,
          .color_G_vacancy_seat {
            background-color: #54c1ba;
          }
          .color_general_double_seat,
          .color_B_vacancy_seat {
            background-color: #63bcde;
          }
          .color_G_vacancy_seat,
          .color_B_vacancy_seat {
            margin: 0;
          }
          .color_B_use_seat {
            background-color: #daebea;
            margin: 0;
          }
          .color_G_use_seat {
            background-color: #ceebf7;
            margin: 0;
          }
          .color_reserve_seat {
            background-color: #f9eed4;
          }
          .color_general_double_seat_group {
            margin: 0 30px 0 0;
          }
        }
      }
    }

    &_confirm {
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        font-size: 3.2rem;
        text-align: center;
        font-weight: 400;
        margin-bottom: 60px;
        color: #fff;
      }
      &_data {
        padding: 50px;
        background-color: #fff;
        gap: 122px;
        border-radius: 10px;
        margin-bottom: 100px;
        .confirm_data_time {
          display: flex;
          flex-direction: column;
          gap: 21px;
          .data_time_start,
          .data_time_end,
          .data_time_sum,
          .data_time_stored {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .stored_error {
              font-size: 1rem;
              margin-bottom: 2px;
              color: red;
              align-self: center;
              a {
                color: red;
                border-bottom: 1px solid red;
              }
            }
          }

          input {
            text-align: right;
            color: #7a7d7a;
            font-size: 1.2rem;
            padding: 10px;
            border-radius: 10px;
            outline: 1px solid transparent;
          }
          p {
            font-size: 1.3rem;
          }
        }
        .confirm_data_seat {
          p {
            font-size: 1.3rem;
            margin-bottom: 10px;
          }
          .data_seat {
            width: 280px;
            min-height: 163px;
            border-radius: 10px;
            border: 2px solid #111;
            padding: 10px;

            .data_seat_info {
              display: flex;
              flex-direction: column;
              font-size: 1.3rem;
            }
          }
        }
      }
      .reservation_submit {
        padding: 16px 40px;
        border-radius: 100px;
        cursor: pointer;
        font-size: 1.5rem;
        border: none;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .reservation_wrap {
    .about_circle_top {
      width: 1000px;
      height: 864px;
    }
    .about_circle_middle {
      width: 1000px;
      height: 864px;
      top: 1000px;
    }
    .about_circle_bottom {
      width: 1000px;
      height: 864px;
      top: 2000px;
    }

    .reservation {
      
      margin: 0 auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      &_read {
        margin-bottom: 120px;

        h2 {
          font-size: 3.2rem;
          color: #fff;
          text-align: center;
          margin-bottom: 40px;
          font-weight: 400;
        }
        &_rules {
          background-color: #fff;
          padding: 40px;
          border-radius: 10px;
          li {
            font-size: 1.5rem;
            list-style: none;
            margin-bottom: 22px;

            .reservation_rules_img {
              margin-right: 22px;
            }
          }
        }
        .reservation_submit {
          color: #fff;
          padding: 16px 40px;
          border-radius: 100px;
          cursor: pointer;
          font-size: 1.5rem;
          background-color: $btn_bg_color;
          &:hover {
            background-color: #fff;
            color: $btn_bg_color;
            border: 1px solid $btn_bg_color;
          }
        }
      }

      &_date {
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        margin-bottom: 120px;
        h2 {
          font-size: 3.2rem;
          color: #fff;
          text-align: center;
          margin-bottom: 40px;
          font-weight: 400;
        }
      }

      &_seat {
        .reservation_all_seat {
          width: 100%;
          .reservation_hall_seat {
            max-width: 922px;
            width: 100%;
            justify-content: space-around;
            .reservation_eSports_seat {
              max-width: 380px;
              width: 100%;
              padding: 10px;
              .seat_btn {
                margin: 15px 3px;
                max-width: 60px;
                width: 100%;
                border-radius: 5px;
                .content {
                  h4 {
                    display: block;
                    line-height: 100%;
                    font-size: 20px;
                    line-height: 1.2;
                  }
                  /* NOTE RWD手機板時只有顯示椅子圖，780px以上時跳轉成座位編號*/
                  .chair {
                    display: none;
                  }
                }
              }
            }
            .reservation_general_seat {
              max-width: 380px;
              width: 100%;
              padding: 10px;
              .seat_btn {
                box-sizing: border-box;
                display: block;
                margin: 15px 3px;
                max-width: 60px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                .content {
                  h4 {
                    display: block;
                    line-height: 100%;
                    font-size: 20px;
                    line-height: 1.2;
                  }
                  /* NOTE RWD手機板時只有顯示椅子圖，780px以上時跳轉成座位編號*/
                  .chair {
                    display: none;
                  }
                }
              }
              .counter {
                background-color: #d7e1e4;
                p {
                  font-size: 20px;
                }
              }
            }
          }
          .reservation_booth_seat {
            max-width: 922px;
            width: 100%;
            justify-content: space-around;
            .reservation_single_seat {
              max-width: 380px;
              width: 100%;
              padding: 10px;
              .seat_btn {
                border-radius: 5px;
                .content {
                  h4 {
                    display: block;
                    line-height: 100%;
                    font-size: 20px;
                    line-height: 1.2;
                  }
                }
              }
            }
            .reservation_double_seat {
              max-width: 380px;
              width: 100%;
              padding: 10px;
              .seat_btn {
                border-radius: 5px;
                .content {
                  h4 {
                    display: block;
                    line-height: 100%;
                    font-size: 20px;
                    line-height: 1.2;
                  }
                }
              }
            }
          }
        }
      }

      &_confirm {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
          font-size: 3.2rem;
          text-align: center;
          margin-bottom: 60px;
        }
        .reservation_confirm_data {
          display: flex;
          padding: 50px 130px;
          background-color: #fff;
          border-radius: 10px;
          gap: 60px;
          margin-bottom: 120px;
          .confirm_data_time {
            display: flex;
            flex-direction: column;
            gap: 21px;
            .data_time_start,
            .data_time_end,
            .data_time_sum,
            .data_time_stored {
              display: flex;
              flex-direction: column;
              gap: 10px;
              .stored_error {
                font-size: 1rem;
                margin-bottom: 2px;
                color: red;
                align-self: center;
                a {
                  color: red;
                  border-bottom: 1px solid red;
                }
              }
            }

            input {
              color: #7a7d7a;
              font-size: 1.2rem;
              padding: 10px;
              border-radius: 10px;

              outline: 1px solid transparent;
            }
            p {
              font-size: 1.3rem;
            }
          }
          .confirm_data_seat {
            p {
              font-size: 1.3rem;
              margin-bottom: 10px;
            }
            input {
              padding: 70px 40px;
              border-radius: 10px;
              outline: 1px solid transparent;
            }
          }
        }
        .reservation_submit {
          padding: 16px 40px;
          border-radius: 100px;
          cursor: pointer;
          font-size: 1.5rem;
          background-color: $btn_bg_color;
          &:hover {
            background-color: #fff;
            color: $btn_bg_color;
            border: 1px solid $btn_bg_color;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .reservation_wrap {
    .about_circle_top {
      top: 200px;
      left: -200px;
    }
    .about_circle_middle {
      top: 1500px;
      right: -200px;
    }
    .about_circle_bottom {
      top: 2600px;
    }
  }
}
