// 手機板
.home_meal {
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    padding: $section_pd 20px;

    h3 {
        color: $main_txt_color;
        padding-bottom: ($section_pd / 4);
    }

    .meal_intro {
        margin: 0 auto;
        width: 100%;
        height: fit-content;
        padding: 40px 20px;
        @include bgSvg(home/text_bg);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
            font-size: 1rem;
            width: 80%;
            line-height: 1.5;
            padding: 20px 0 10px;
        }

        a {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 0.5rem 1rem;
            font-size: 0.85rem;
            background-color: $main_txt_color;
            color: $btn_bg_color;
            border-radius: 50px;
            margin-left: 20px;

            img {
                width: 2rem;
                height: auto;
            }
        }
    }

    .meal_group {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;


        .meal_pic {
            width: 50% !important;
            height: fit-content;
            @include bgSvg(home/meal_bg);
            position: relative;
            display: flex;
            justify-content: center;

            img {
                vertical-align: middle;
                width: 50%;
                padding: 20px;
            }
        }

        .meal02 {
            top: 2rem;
            left: -1.25rem;
        }

        .meal03 {
            top: 2rem;
        }

        .meal04 {
            top: 3.5rem;
            left: -1rem;
        }
    }


    .meal_figure {
        width: 100%;

        img {
            margin: 0 auto;
            width: 100%;
            height: auto;
            vertical-align: bottom;
        }

        ;
    }


}


// small device
@media screen and (min-width: 576px) {
    .home_meal {
        min-width: 576px;

        .meal_intro {

            p {
                width: 40%;
            }
        }

        .meal_group {

            .meal_pic {

                img {
                    padding: 40px;
                }
            }


        }
    }
}


// medium device
@media screen and (min-width: 768px) {
    .home_meal {
        min-width: 768px;

        .meal_intro {

            p {
                width: 40%;
                font-size: 1.25rem;

            }
            a {
                font-size: 1.25rem;
            }
        }
    }
}

// large device
@media screen and (min-width: 992px) {
    .home_meal {
        min-width: 992px;
        position: relative;

        .meal_intro {

            p {
                width: 40%;
                font-size: 1.75rem;
                padding: 80px 0;
            }
            a {
                padding: 1rem 2rem;
                font-size: 1.75rem;
            }
        }

        .meal_group {
            position: absolute;
            top: 30%;
            left: 0;

            .meal_pic {

                img {
                    width: 30% !important;
                }
            }

            .meal01 {
                left: -10rem;
            }

            .meal02 {
                top: 3rem;
                left: 8rem;
            }

            .meal03 {
                top: 6rem;
            }

            .meal04 {
                top: 7rem;
            }
        }
    }
}

// extra large device
@media screen and (min-width: 1200px) {
    .home_meal {
        min-width: 1200px;

        .meal_intro {

            p {
                width: 30%;
                padding: 100px 0;
            }
        }

        .meal_group{
            top: 20%;
        }

        .meal_figure{
            
            img {
                width: 60%;
            }
        }
    }
}