.home_meal {
    @include container;
    width: 100%;
    text-align: center;
    position: relative;
    padding: $section_pd 0;

    h3 {
        color: $main_txt_color;
        padding-bottom: ($section_pd / 2);
    }

    .meal_intro {
        // @include bgSvg(home/text_bg);
        width: 100%;
        margin: 0 auto;
        // width: 45rem;
        // height: 25rem;
        // aspect-ratio: 1/1.15;
        // display: flex;
        // gap: 20px;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;

        position: relative;

        .meal_intro_content {
            position: absolute;
            top: 20%;
            left: 30%;

            p {
                font-size: 1.5rem;
                width: 480px;
                line-height: $line_height;
                color: #FFA629;
                padding: 1rem 2.5rem;
            }
    
            a {
                display: inline-block;
                padding: 16px 40px;
                font-size: 1.25rem;
                background-color: $main_txt_color;
                color: $btn_bg_color;
                border-radius: 50px;
    
                img {
                    width: 2.25rem;
                    height: auto;
                    vertical-align: middle;
                } 
            }
        }
    }

    .meal_figure {
        width: 100%;
        
        img {
            width: 100%;
        }
    }

    .meal_pic {
        @include bgSvg(home/meal_bg);
        width: 300px;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            vertical-align: middle;
            width: 50%;
            height: auto;
        }
    }

    .meal01,
    .meal02,
    .meal03,
    .meal04 {
        position: absolute;
    }

    .meal01 {
        top: 240px;
        left: -120px;
    }

    .meal02 {
        top: 560px;
        left: -60px;
    }

    .meal03 {
        top: 240px;
        right: -110px;
    }

    .meal04 {
        top: 560px;
        right: -40px;
    }
}

// @include screen_one(414) {

// }
