// 手機板
.home_meal {
    min-width: 300px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    padding: $section_pd 20px;

    h3 {
        color: $main_txt_color;
        padding-bottom: ($section_pd / 4);
    }

    .meal_intro {
        margin: 0 auto;
        width: 100%;
        height: fit-content;
        box-sizing: border-box;
        padding: 60px 10px;
        background: url(@/assets/images/home/text_bg.svg) no-repeat center center;
        background-size: contain;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
            font-size: 1rem;
            width: 80%;
            line-height: 1.5;
            padding: 20px 0 10px;
            color: #FFA629;
            margin: 15px 30px;
            text-align: left;
        }

        a {
            .btn_more {
                display: flex;
                align-items: center;
                gap: 8px;
                padding: 0.5rem 1rem;
                font-size: 0.85rem;
                background-color: $main_txt_color;
                color: $btn_bg_color;
                border-radius: 50px;
                margin-left: 20px;

                img {
                    width: 2rem;
                    height: auto;
                }

            }
        }
    }

    .meal_group {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        pointer-events: none;


        .meal_pic {
            width: 50%;
            height: fit-content;
            background: url(@/assets/images/home/meal_bg.svg) no-repeat center center;
            background-size: contain;
            position: relative;
            display: flex;
            justify-content: center;

            img {
                vertical-align: middle;
                width: 50%;
                padding: 20px;
            }
        }

        .meal02 {
            top: 2rem;
            left: -1.25rem;
        }

        .meal03 {
            top: 2rem;
        }

        .meal04 {
            top: 3.5rem;
            left: -1rem;
        }
    }


    .meal_figure {
        width: 100%;

        img {
            margin: 0 auto;
            width: 100%;
            height: auto;
            vertical-align: bottom;
        }
    }


}


// small device
@media screen and (min-width: 576px) {
    .home_meal {
        min-width: 576px;

        .meal_intro {

            p {
                width: 60%;
                font-size: 1.25rem;
            }
        }

        .meal_group {

            .meal_pic {

                img {
                    padding: 40px;
                }
            }


        }
    }
}


// medium device
@media screen and (min-width: 768px) {
    .home_meal {
        min-width: 768px;

        .meal_intro {
            width: 80%;

            p {
                font-size: 1.5rem;

            }

            .btn_more {

                a {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

// large device
@media screen and (min-width: 992px) {
    .home_meal {
        min-width: 992px;
        position: relative;

        .meal_intro {

            p {
                width: 60%;
                font-size: 1.75rem;
                padding: 40px 0;
            }


        }

        .meal_group {
            position: absolute;
            top: 30%;
            left: 0;

            .meal_pic {

                img {
                    width: 40%;
                }
            }

            .meal01 {
                top: 100px;
                left: -160px;
            }

            .meal02 {
                top: 100px;
                left: 120px;
            }

            .meal03 {
                top: 100px;
                left: 75px;
            }

            .meal04 {
                top: 120px;
                left: -30px;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .home_meal {
        min-width: 1200px;

        .meal_intro {

            p {
                padding: 50px;
                font-size: 1.5rem;
            }

            a {

                .btn_more {

                    gap: 16px;
                    font-size: 1.5rem;

                    img {
                        width: 2.75rem;
                        height: auto;
                    }
                }
            }

        }

        .meal_group {
            top: 20%;

            .meal_pic {

                img {
                    width: 30%;
                }
            }


            .meal01 {
                top: 0px;
                left: -180px;
            }

            .meal02 {
                top: 0px;
                left: 180px;
            }

            .meal03 {
                top: 120px;
                left: -120px;
            }

            .meal04 {
                top: 160px;
                left: 100px;
            }
        }
    }
}


// extra large device
@media screen and (min-width: 1440px) {
    .home_meal {
        min-width: 1440px;

        .meal_intro {

            p {
                padding: 60px 120px;
            }
        }

        .meal_group {
            top: 20%;

            .meal_pic {

                img {
                    width: 30%;
                }
            }


            .meal01 {
                top: 0px;
                left: -180px;
            }

            .meal02 {
                top: 0px;
                left: 160px;
            }

            .meal03 {
                top: 80px;
                left: -40px;
            }

            .meal04 {
                top: 160px;
                left: 0px;
            }
        }

        .meal_figure {

            img {
                width: 60%;
            }
        }


    }
}