
@media screen and (max-width: 2200px) {
    .index_news {
        .title{

                color: #ffffff;
                font-size: 3.75rem;
                padding: 100px 0;
                margin: auto;
                display: flex;
                align-items: center ;
                justify-content: center;
            }
        
        }
        .news {
            max-width: 1036px;
            border-radius: 50px;
            margin: auto;


            .news_all {
                text-decoration: none;
                display: flex;
                width: 100%;
                justify-content: space-between;
                padding-left: 20px;
                background-color: white;
                margin-bottom: 25px;
                border-radius: 50px;
            

                .infor_top {
                    display: flex;
                    width:37%; 
                    justify-content: space-between;
                    /* padding-top: 2.2%; */
                    /* padding-bottom: 2.2%; */
                    /* padding-left: 7%; */
                    position: relative;
                    align-items: center;

                    .category {
                        color: white;
                        background-color: #5AC4C4;
                        /* width: 23%; */
                        font-size: 1.5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 2px 4px;
                    }
                    .category.active {
                          background-color: orange;
                    }

                    .date {
                        color: #78684D;
                        font-size: 1.5rem;
                        padding-right: 15%;
                        /* padding-left:105px; */
                        /* position: absolute; */
                        /* left: 60%; */


                    }
                }

                .infor_bottom {
                    display: flex;
                    justify-content: space-between;
                    /* align-content: space-between; */
                    width:60%;
                    padding-top: 2%;
                    padding-bottom: 2%;
                    position: relative;

                    .text {
                        color: #78684D;
                        font-size: 1.5rem;
                        /* padding-right: 50px; */
                        /* padding-left: 40px; */

                    }

                    .arrow_green {
                        width: 15%;
                        object-fit: cover;
                        position: absolute;
                        right:10%;
                    }
                }
            }
        }
    }


@media screen and (max-width: 768px) {
    .index_news {
        .title{

            color: #ffffff;
            /* font-size: 1.5rem; */
        }
        .news {
            padding-top: 0;
            margin: auto;
            max-width: 1200px;


            .news_all {
                background-color: white;   
                display: flex;
                text-decoration: none;
                width: 54%;
                padding: 15px 20px;
                flex-direction: column;
                border-radius: 10px;
                margin: auto;
                margin-bottom: 15px;

                .infor_top {
                    display: flex;
                    width: 37%;

                    .category {
                        font-size: 1rem;
                        color: white;
                        background-color: #5AC4C4;
                        margin-bottom: 6%;
                        /* width: 25%; */
                        justify-content: center;
                        align-items: center;
                        display: flex;
                        margin-right: 5%;

                    } 
                    .category.active {
                        background-color: orange;
                  }

                    .date {
                        font-size: 1rem;
                        color: #78684D;
                        padding-left: 10px;


                    }
                }

                .infor_bottom {
                    display: flex;
                    justify-content: space-between;

                    .text {
                        font-size: 1rem;
                        color: #78684D;


                    }

                    .arrow_green {
                        width: 20%;
                        right:-60%;
                        top: 30%;
                    }
                }
            }
        }
    }
}