.home_service {
  @include container;
  width: 100%;
  padding: 0 65px;
  position: relative;
  h3 {
    font-size: 30px;
    color: $main_txt_color;
    padding: ($section_pd / 2) 0;
    text-align: center;
  }
  .service_item {
    width: 100%;
    padding-bottom: 80px;
    .pic {
      position: relative;
      aspect-ratio: 1.16/1;
      &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: -8%;
        top: -10%;
        background-color: #F8D0AF;
        z-index: -1;
        border-radius: 20px
      }
      &::after {
        content: '';
        width: 70%;
        height: 6px;
        border-radius: 20px;
        background-color: #ED9B59;
        position: absolute;
        bottom: -30px;
        left: 0;
      }
      img {
        @include img;
        border-radius: 20px;
      }
      h4 {
        color: $main_txt_color;
        position: absolute;
        bottom: -40px;
        right: -20px;
        width: 35%;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: #ED9B59;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    .side_txt {
      position: absolute;
      right: -30px;
      top: 0;
      writing-mode: vertical-lr;
      color: #ED9B59;
      font-size: 1.25rem;
      text-transform: uppercase;
      .decoration {
        width: 20px;
        height: 20px;
        display: inline-block;
        border-radius: 50%;
        background: #ED9B59;
        margin-bottom: 20px;
      }
    }
    .txt {
      color: $main_txt_color;
      margin-top: 60px;
      line-height: $line_height;
      font-size: 1.875rem;
    }
  }
  .reverse {
    padding-bottom: 100px;
    .pic {
      h4 {
        background-color: #5AC4C4;
      }
      &::before {
        background-color: #D5F0F0;
      }
      &::after {
        background-color: #5AC4C4;
      }
    }
    .side_txt {
      color: #5AC4C4;
      .decoration {
        background-color: #5AC4C4;
      }
    }
  }
  // 底圖圓圈裝飾物
  .circle {
    width: 400px;
    height: 350px;
    position: absolute;
    z-index: -1;
    span {
      display: block;
    }
    &_one {
      bottom: 200px;
      left: -250px;
      span {
        @include bgSvg(decoration/circle01);
      }
    }
    &_two {
      bottom: 400px;
      right: -150px;
      span {
        @include bgSvg(decoration/circle02);
      }
    }
    &_three {
      bottom: 800px;
      right: -750px;
      span {
        @include bgSvg(decoration/circle01);
      }
    }
  }
}
@include sm() {
  .home_service {
    padding: 0 100px;
    h3 {
      padding: $section_pd 0;
    }
    .service_item {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .pic {
        width: 40%;
        &::after {
          bottom: -50px;
        }
        h4 {
          bottom: -50px;
          right: -50px;
        }
      }
      .side_txt {
        right: -40px;
        font-size: 1.1rem;
        .decoration {
          width: 30px;
          height: 30px;
        }
      }
      .txt {
        width: 50%;
      }
    }
    .normal {
      .txt {
        transform: translate(50px,-80px);
      }
    }
    .reverse {
      padding-bottom: 100px;
      align-items: flex-end;
      transform: translateY(-80px);
      .txt {
        order: -1;
        transform: translate(-50px,50px);
      }
      .side_txt {
        color: #5AC4C4;
        .decoration {
          background-color: #5AC4C4;
        }
      }
    }
    // 底圖圓圈裝飾物
    .circle {
      width: 400px;
      height: 350px;
      position: absolute;
      z-index: -1;
      span {
        display: block;
      }
      &_one {
        bottom: 200px;
        left: -250px;
        span {
          @include bgSvg(decoration/circle01);
        }
      }
      &_two {
        bottom: 400px;
        right: -150px;
        span {
          @include bgSvg(decoration/circle02);
        }
      }
      &_three {
        bottom: 800px;
        right: -750px;
        span {
          @include bgSvg(decoration/circle01);
        }
      }
    }
  }
}