.socialmedia{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto; 
    text-align: center;
    padding: $section_pd 0;

    h3 {
        color: $main_txt_color;
        padding-bottom: ($section_pd / 4);
    }

    .post_slides {
        iframe {
            width: 30%;
            height: 800px;
        }
    }

}

.carousel__slide
.carousel__prev {
    margin-left: -40px;
}

.carousel__next {
    margin-right: -40px;
}

@include sm() {
    .carousel__prev {
        margin-left: 0;
    }
    
    .carousel__next {
        margin-right: 0;
    }
}