.socialmedia {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: $section_pd 0;

    h3 {
        color: $main_txt_color;
        padding-bottom: ($section_pd / 4);
    }

    .ig_post {
        border-radius: 20px;
        overflow: hidden;
    }

    .carousel__slide {
        height: 650px;
        align-items: flex-start;
    }



    .carousel__prev,
    .carousel__next {
        color: #fff;
        transform: scale(2);
    }

    .carousel__prev {
        left: -20px;
    }

    .carousel__next {
        right: -20px;
    }

}

@media screen and (max-width: 768px) {

    .socialmedia {

        .carousel__prev,
        .carousel__next {
            color: #fff;
            transform: scale(2.5);
        }

        .carousel__prev {
            left: 260px;
        }

        .carousel__next {
            right: 260px;
        }
    }
}